<app-loading text="Cargando..." *ngIf="isLoading"></app-loading>

<ion-content *ngIf="!isLoading">
  <div class="container1">
 

    <ion-list>
      <ion-item class="select-item" lines="none">
        <ion-grid class="item-inner">
          <ion-row class="inner-row">
            <ion-col class="img-col">
              <ion-avatar>
              <img src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg" alt="" srcset="">
            </ion-avatar></ion-col>
            <ion-col class="text-col">
              <ion-grid class="inner-col-grid">
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
              </ion-grid>
            </ion-col>
            <ion-col size="2" class="icon-col">
              <ion-icon name="arrow-forward" mode="ios"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item class="select-item" lines="none">
        <ion-grid class="item-inner">
          <ion-row class="inner-row">
            <ion-col class="img-col">
              <ion-avatar>
                <img src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg" alt="" srcset="">
              </ion-avatar>
            </ion-col>
            <ion-col class="text-col">
              <ion-grid class="inner-col-grid">
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
              </ion-grid>
            </ion-col>
            <ion-col size="2" class="icon-col">
              <ion-icon name="arrow-forward" mode="ios"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item class="select-item" lines="none">
        <ion-grid class="item-inner">
          <ion-row class="inner-row">
            <ion-col class="img-col">
              <ion-avatar>
                <img src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg" alt="" srcset="">
              </ion-avatar>
            </ion-col>
            <ion-col class="text-col">
              <ion-grid class="inner-col-grid">
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
              </ion-grid>
            </ion-col>
            <ion-col size="2" class="icon-col">
              <ion-icon name="arrow-forward" mode="ios"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>


      <ion-item class="select-item" lines="none">
        <ion-grid class="item-inner">
          <ion-row class="inner-row">
            <ion-col class="img-col">
              <ion-avatar>
                <img src="https://st.depositphotos.com/2218212/2938/i/600/depositphotos_29387653-stock-photo-facebook-profile.jpg" alt="" srcset="">
              </ion-avatar>
            </ion-col>
            <ion-col class="text-col">
              <ion-grid class="inner-col-grid">
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
                <ion-row class="text-row"
                  ><p class="text-col">Test-001</p></ion-row
                >
              </ion-grid>
            </ion-col>
            <ion-col size="2" class="icon-col">
              <ion-icon name="arrow-forward" mode="ios"></ion-icon
            ></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
