ion-content {



    .propose-change {
        width: 70%;
        margin-left: 10vw;



        .reactivate-row {

            .reactivate-col {
                display: flex;
                justify-content: center;
                align-items: center;


                .reactivate-btn {
                    --background: #CB954D;
                    --border-radius: 10pt;

                    .inner-reactivate-btn {
                        color: black;
                        text-transform: none;
                        letter-spacing: normal;
                        border: none;
                    }
                }
            }
        }


        ion-row {
            color: #7c7c7c;

            ion-col {

                display: flex;
                justify-content: flex-start;
                align-items: center;

                p {
                    font-size: 12px;
                    border-bottom: 1px solid #7c7c7c;
                }
            }

            ion-col.icon {

                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }

    // ANIMATIONS



    @-webkit-keyframes jello-vertical {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        40% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        50% {
            -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
        }

        65% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        75% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }




    @-webkit-keyframes puff-out-left {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(2);
            transform: scale(2);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(4px);
            filter: blur(4px);
            opacity: 0;
        }
    }

    @keyframes puff-out-left {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(2);
            transform: scale(2);
            -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            -webkit-filter: blur(4px);
            filter: blur(4px);
            opacity: 0;
        }
    }

    @keyframes jello-vertical {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        30% {
            -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
        }

        40% {
            -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
        }

        50% {
            -webkit-transform: scale3d(0.85, 1.15, 1);
            transform: scale3d(0.85, 1.15, 1);
        }

        65% {
            -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
        }

        75% {
            -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
        }

        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }



    .custom {
        color: rgb(255, 0, 0);
        font-size: 25px;
        transform: scale(1);
        animation: jello-vertical 2s both;
    }


    .custom-out {
        -webkit-animation: puff-out-left 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
        animation: puff-out-left 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;

    }


    ///FIN ANIMATIONS






    width: 100%;

    .container {
        width: 100%;
        display: flex;
        justify-content: center;

        .cabecera-pagina {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;

            .imagen-cabecera {
                width: 100%;
                margin: auto;

            }

            .audio-player {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 15% auto;

                audio {
                    width: 80%;
                    max-height: 50%;
                    // height: 100%;
                    object-fit: cover;
                }
            }

            .player {
                width: 100%;
                margin: auto;

                .video {
                    width: 100%;
                    height: 100%;
                }

            }


            .imagen-atras {
                position: absolute;
                top: 10vw;
                left: 10vw;
                z-index: 10;
            }

            .ios-image{
                position: absolute;
                top: 15vw;
                left: 10vw;
                z-index: 10;

            }
        }
    }


    .container2 {
        width: 100%;
        display: flex;
        justify-content: center;

        .cuerpo-pagina {
            display: flex;
            justify-content: center;
            flex-flow: column;
            width: 100%;

            .row-cuerpo-pagina {
                display: flex;
                justify-content: space-between;
                width: 95%;
                padding: 20px;
                padding-right: 0px;

                .lbl-fechas {
                    color: #343434;
                    font-family: "Canela";
                    font-weight: 400;
                    font-size: 17px;
                }

                .decorado {
                    margin-top: 10px;
                }



            }


            .row-cuerpo-pagina-titulo {
                display: flex;
                justify-content: center;

                .pagina-titulo {
                    width: 100%;
                    color: #343434;
                    font-family: "Canela";
                    font-weight: 700;
                    font-size: 30px;
                    margin: 5%;
                    /* white-space: nowrap; */



                }

            }

        }

    }


    .container3 {



        ion-list {
            //cc
            width: 100%;
            padding-top: 20px;
            background: transparent;

            ion-row {
                display: flex;
                justify-content: center;
                flex-flow: row;
                width: 100%;


                //Foto del perfil
                ion-col.col-perfil {
                    // max-width: 50px;
                    display: flex;
                    justify-content: flex-end;

                    .imagen-perfil {
                        min-width: 30px;
                        min-height: 30px;
                        max-width: 30px;
                        max-height: 30px;
                        width: 30px;
                        height: 30px;
                        border-radius: 25px;
                        margin-left: 5px;

                    }

                }




                ion-item {
                    padding-top: 5px;
                    --background: transparent;




                    //Col aprece nombre, fecha, texto audio o imagen
                    ion-col.col-publicacion {

                        .nombre-perfil {
                            font-weight: 700;
                            // height: 25px;
                            font-size: 17px;
                            font-family: "Canela";
                        }

                        .fecha-publicacion {
                            font-size: 12px;
                            padding-top: 3px;
                            padding-bottom: 15px;
                        }

                        ion-row.row-fecha-rango {
                            justify-content: start;

                            .fecha-publicacion {
                                font-size: 12px;
                                padding-top: 3px;
                                padding-bottom: 15px;
                            }

                            .rango {
                                font-size: 14px;
                                margin-left: 5px;
                                background-color: #ffd39e;
                                color: #CB954D;
                                border-radius: 15px;
                                height: 20px;
                                width: 117px;
                                padding-left: 7px;
                            }
                        }

                        ion-col.col-texto-publicacion {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            font-family: Alliance;

                            .texto-publicacion {

                                font-size: 16px;
                                padding-bottom: 15px;
                                font-family: "Alliance";
                            }

                        }

                        ion-slides.slides1 {
                            ion-slide.slide1 {

                                .imagen-slide {
                                    padding-left: 4px;
                                    padding-right: 4px;
                                }

                            }

                            ion-slide.slide2 {

                                .imagen-slide {
                                    margin-left: -22px;
                                }

                            }
                        }



                        .audio-publicacion {
                            width: 170px;
                            height: 40px;
                        }

                        .cambio-icono {
                            width: 130px;
                            height: 40px;
                        }

                        .imagen-publicacion {
                            width: 285px;
                            height: 200px;

                        }

                        .imagen-publicacion_adaptada {
                            width: 270px;
                        }

                        //Row interna donde tenemos los me gusta y las publicaciones
                        ion-row.row-acciones {
                            position: relative;
                            align-items: center;
                            justify-content: left;

                            .meGusta-publicacionRojo {
                                margin-left: 3px;
                                margin-top: 3px;
                            }

                            .meGusta-publicacion {
                                position: absolute;
                                z-index: 1;
                            }

                            //Me gusta
                            #megusta-numero {
                                padding-left: 5px;
                                font-size: 13px;
                            }




                            //Comentarios
                            .comentario-publicacion {
                                margin-left: 30px;
                            }

                            #comentario-numero {
                                padding-left: 5px;
                                font-size: 13px;
                            }

                            //guardar
                            .comentario-guardar {
                                // margin-left: 155px;
                                margin-left: 20%;
                                margin-right: 10%;
                            }


                        }

                        .class-input {
                            margin-left: 50px;
                            width: 300px;
                        }

                    }
                }
            }

            //Row publicidad
            // ion-row{

            //     ion-item.publicidad{
            //         display: flex;
            //         --background: transparent;

            //         .imagen-publicidad{
            //             padding: 10px;
            //             width: 400px;

            //         }

            //     }
            // }



        }

    }


    .container4 {
        width: 100%;
        display: flex;
        justify-content: center;


        .pie-pagina {

            display: flex;
            justify-content: center;
            flex-flow: column;

            .row-input {

                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                flex-flow: row;
                width: 80%;
                margin: auto;

                .col-perfil {
                    width: 130px;
                    display: flex;
                    justify-content: center;

                    .imagen-perfil {
                        border-radius: 50%;
                        max-height: 5vh;
                        max-width: 50px;
                        min-width: 10vw;
                        min-height: 50px;

                    }
                }

                ion-item {
                    width: 305px;
                    --background: transparent;
                    padding-bottom: 10px;

                    .col-input {

                        margin-right: 5px;
                        display: inline-flex;



                        ion-item {
                            max-width: 285px;
                            min-width: 200px;
                            background-color: white;
                            border-radius: 25px;
                            height: 41px;

                            ion-input {
                                background-color: white;
                                color: #5C4B518A;
                                width: 200px;
                                border-radius: 15px;
                                padding-left: 20px;
                                padding-right: 30px;
                                margin-top: -5px;



                            }

                            ion-icon {

                                margin-top: -5px;
                            }
                        }
                    }
                }
            }


            .row-publicidad {
                display: flex;
                justify-content: center;

                .imagen-publicidad {
                    width: 320px;
                }
            }




        }

    }



}