<ion-content>
  <div class="flex">
    <div class="modal">
      <p class="description">Nombre de Usuario</p>
      <p style="text-align: center;">ha solicitado unirse al grupo "Nombre del grupo"</p>  
      <p class="description">¿Aceptas su solicitud?</p>    
      <div class="center">
        <ion-button (click)="closeModal(true)" class="reserva" expand="block">
          <p>Si</p>
        </ion-button>
        <ion-button (click)="closeModal(false)" class="reserva2" expand="block">
          <p>No</p>
        </ion-button>
      </div>
    </div>
  </div>
  
</ion-content>
