<ion-content>
  <div class="content-wrap">
    <image-cropper
      format="jpeg"
      [imageBase64]="base64img"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="aspectRatio"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>

  <ion-card class="preview-card" *ngIf="croppedImage&&NEW_UPLOAD">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Vista previa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="preview-wrap">
        <img [src]="croppedImage" />
      </div>
    </ion-card-content>
  </ion-card>

  <div class="banner-wrap" *ngIf="BANNER_UPLOAD&&testBanner.imagen">
    <ion-grid>
      <ion-row class="text-row">
        <p>Asi se verá tu banner</p>
      </ion-row>
      <ion-row class="banner-row">
        <app-ad-banner [banner]="testBanner"></app-ad-banner>
      </ion-row>
    </ion-grid>
  </div>

  <div class="btn-wrap">
    <ion-grid>
      <ion-row
        ><ion-button class="confirm" (click)="onClickAcept()">
          <p>Aceptar</p>
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="cancel" (click)="onClickCancel()">
          <p>Cancelar</p>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
