.notification{
*{
    font-family: 'Alliance';
}

    // --padding-end:10px;
    --min-height:13vh;
    box-shadow: 0 0 3px 1px #ccc;
    border-radius: 10px;
    // margin-top:20px;
    .title{
        // font-weight: bold;
        font-size: 10pt;
        text-align: center;
    }
    .price{
        color:var(--ion-color-primary);
        font-size: 20px;
        font-weight: bold;
    }
    .right{
        text-align: right;
        // margin-right: 5px;  
    }
    .shared{
        color:var(--ion-color-primary);
        font-size: 12px;
    }
}