<ion-header>
  <app-chat-header 
  [chatName]="chatName" 
  [lastMessage]="lastMessage">
  <ion-back-button></ion-back-button>
</app-chat-header>
</ion-header>


<ion-content #content color="primary">
  
  <app-loading [text]="'Cargando mensajes...'" [color]="'dark'" *ngIf="isLoading"></app-loading>
  
  <app-chat-item *ngFor="let message of messages" 
    [icon]="message?.avatar" 
    [text]="message?.texto"
    [image]="message?.imagen" 
    [date]="message?.created_at">
  </app-chat-item>
  
</ion-content>

<app-chat-footer 
  [placeholder]="'Escribe tu mensaje'"
  (sendText)="sendMessage($event)">
</app-chat-footer>
