<app-loading *ngIf="isLoading" text="Cargando Perfil..."></app-loading>

<ion-content color="primary" *ngIf="!isLoading">
  <div class="container">
    <div class="perfil-datos">
      <ion-row class="row-perfil-datos">
        <!--Decorado 1-->
        <ion-col class="col-perfil-decorado1">
          <!-- <img
            id="btn_atras"
            src="assets/imgs/Group 114.png"
            (click)="back()"
          /> -->
          <img id="ondas_imagen" src="assets/imgs/Group 126.png" />
          <img id="cuadrante_puntos" src="assets/imgs/Group 125.png" />
        </ion-col>

        <!--Decorado 2-->
        <ion-col class="col-perfil-decorado2">
          <img id="perfil_imagen" [src]="user?.avatar" />

          <div class="edit-icon-wrap" routerLink="/profile">
            <ion-icon name="create" mode="md"></ion-icon>
          </div>
        </ion-col>

        <!-- Decorado 3 -->
        <ion-col class="col-perfil-decorado3">
          <img id="perfil_estrella1" src="assets/imgs/Star 2.png" />
          <img id="perfil_estrella2" src="assets/imgs/Star 3.png" />
          <img id="perfil_estrella3" src="assets/imgs/Star 4.png" />
        </ion-col>
      </ion-row>

      <!--Nombre, nacionalidad, texto-->
      <ion-row class="row-perfil-datos-pie">
        <label id="nombre_usuario">{{user?.name}}</label>

        <ion-col
          *ngIf="user.user_location"
          class="col-perfil-datos-nacionalidad"
        >
          <!-- (click)="out()" -->
          <!-- <img id="imagen_bandera" src="assets/imgs/Inglaterra.png" /> -->
          <p *ngIf="user.user_flag">{{getFlagEmoji(user.user_flag)}}</p>
          <label id="texto_nacionalidad">{{user.user_location}}</label>
        </ion-col>

        <ion-col
          *ngIf="!user.user_location"
          (click)="out()"
          class="col-perfil-datos-nacionalidad"
        >
          <p id="texto_nacionalidad">Aún no se ha añadido tu procedencia</p>
        </ion-col>

        <ion-col class="col-perfil-datos-texto">
          <!-- <label id="texto_usuario"
            >“Remembering my childhood at my family country house gives me a
            sense of belonging and nourishes my present experience.”</label
          > -->

          <label *ngIf="user?.description" id="texto_usuario"
            >{{user?.description}}
          </label>

          <label *ngIf="!user?.description" id="texto_usuario"
            >Aún no has añadido ninguna descripción
          </label>
      
       
        </ion-col>
        
        <!-- 
        <ion-button class="boton-principal" type="submit" color="primary" style="margin-bottom: 2vh;" (click)="auth.logout()">
          <p class="register">Salir de la cuenta</p>
          </ion-button> -->

        <!--Numero de seguidores....-->
        <ion-row class="row-perfil-datos-cuenta">
          <!-- <ion-button color="dark" routerLink="/new-question">ASKING</ion-button> -->
          <!--Followers-->
          <ion-col (click)="GoToFollowers()" class="col-followers">
            <label id="num_followers">{{user?.followers}}</label>
            <label id="tipo_followers">SEGUIDORES</label>
          </ion-col>

          <!--Following-->
          <ion-col class="col-following" (click)="GoToFollowing()">
            <label id="num_following">{{user?.seguidos}}</label>
            <label id="tipo_following">SIGUIENDO</label>
          </ion-col>

          <!--Likes-->
          <ion-col class="col-likes">
            <label *ngIf="user?.megustas" id="num_likes"
              >{{user?.megustas}}</label
            >
            <label *ngIf="!user?.megustas" id="num_likes">0</label>

            <label id="tipo_likes">LIKES</label>
          </ion-col>
        </ion-row>

        <ion-row class="questions-row">
          <ion-button routerLink="/my-questions" style="
						font-family: 'Alliance';	
						font-size: 15px;
						">Mis preguntas</ion-button>
                <ion-button routerLink="/modal-banners" style="
                font-family: 'Alliance';	
                --background: #f3b562;
                font-size: 15px;
                ">Ser sponsor</ion-button>
          <!-- <ion-button routerLink="/new-question">Nueva pregunta</ion-button> -->
        </ion-row>
      </ion-row>
 
    </div>
  </div>
  <div>
    
    <p
      text-center
      *ngIf="user?.role_id == 4"
      style="color: black"
      (click)="openModal()"
    >
      Mas acciones
    </p>
  </div>

  <div class="posts-wrap" *ngIf="ThereIsPosts">
    <ion-grid class="Year-grid" *ngFor="let post of years">
      <ion-row class="Year-data-row">
        <ion-item class="item-years" lines="full">
          <label slot="start" class="years-label">{{post.year}}</label>
          <label slot="end" class="numero-label"
            >{{post.postPosition}} of {{post.postCount}}</label
          >
        </ion-item>
      </ion-row>
      <ion-row class="Year-slides">
        <ion-slides
          class="slider-wrap"
          (ionSlideDidChange)="sliderChanges($event,post)"
        >
          <ion-slide
            class="slide-img"
            *ngFor="let p of post.posts"
            style="width: auto"
          >
            <!-- <ion-icon
              class="cerrar"
              src="assets/icon/eliminar.svg"
              (click)="borrarPublicacion(1)"
            ></ion-icon> -->
            <ion-icon
              class="delete-icon"
              (click)="borrarPublicacion(p.id)"
              name="trash"
            ></ion-icon>

            <!-- <img src="assets/imgs/image 202.png" /> -->
            <img
              src="{{p.archivo}}"
              *ngIf="p.tipo_archivo==1"
              (click)="GoDetails(p)"
            />

            <div class="audio-player" *ngIf="p.tipo_archivo == 3">
              <audio controls controlsList="nodownload">
                <source src="{{ p.archivo }}" type="audio/mpeg" />
              </audio>
            </div>

            <div *ngIf="p.tipo_archivo==2" class="player">
              <!-- <ion-icon
                style="font-size: 30px; color: red"
                name="play-circle"
              ></ion-icon> -->
              <!-- (click)="playVideo(publicacion?.archivo)" -->
              <!-- <p>{{publicacion?.archivo}}</p> -->

              <video playsinline
                class="video"
                [src]="p?.archivo"
                controls
                controlsList="nodownload"
                disablePictureInPicture
                autofullscreen="false"
              ></video>
            </div>

            <div class="text-wrap" (click)="GoDetails(p)">
              <label id="texto-pie-imagen2">{{p.titulo}}</label>
              <label id="texto-fecha-lugar-imagen2"
                >{{p.fecha | date:"dd/MM/yy"}}
                <span *ngIf="p.ubicacion">- {{p.ubicacion}}</span></label
              >
            </div>
          </ion-slide>
        </ion-slides>
      </ion-row>
    </ion-grid>
  </div>

  <div class="NoPosts" *ngIf="!ThereIsPosts">
    <p class="noposts-label">Aún no hay publicaciones subidas</p>
  </div>

  <!--Container numero 2 para las fechas y fotos-->
  <!-- <div class="container2" *ngFor="let posts of years">
    <div class="perfil-contenido-year"> -->
  <!--Fila años-->
  <!-- <ion-row class="row-years"> -->
  <!--Columna de años y slide en el que estas-->
  <!-- º
        <ion-col class="col-years">
          <ion-item class="item-years" lines="full">
            <label slot="start" class="years">{{posts.year}}</label>-->

  <!-- 1984  -->
  <!--   <label slot="end" class="numero-years"> 1 de {{posts.postCount}}</label>
              1 of 7 
          </ion-item>
        </ion-col> -->

  <!--Columna de slide con imagenes-->
  <!-- ///// -->
  <!-- <ion-col class="col-imagenes">
          <ion-slides>
            <ion-slide class="slide-publicacion" *ngFor="let p of posts.posts">
              <ion-icon
                class="cerrar"
                src="assets/icon/eliminar.svg"
                (click)="borrarPublicacion(1)"
              ></ion-icon>
              <img id="imagen1" src="{{p.archivo}}" /> -->
  <!-- ///// -->

  <!-- src=assets/imgs/image 202.png -->

  <!-- ///// -->

  <!-- <label id="texto-pie-imagen"
                >
                {{p.titulo}}
              
                </label
              > -->

  <!-- // -->
  <!-- Portrait of my aunt when she was 17 -->

  <!-- // -->
  <!-- <label id="texto-fecha-lugar-imagen"
                > {{p.fecha}} - {{p.ubicacion}}
                </label
              >
            </ion-slide> -->

  <!-- 17 June 1984 — Pittsburgh, PA -->

  <!-- <ion-slide class="slide-publicacion">
              <img id="imagen2" src="assets/imgs/image 197G.png" />
              <label id="texto-pie-imagen2"
                >Dad was the coolest kid at the skate park</label
              >
              <label id="texto-fecha-lugar-imagen2"
                >8 August 1984 — Venice Beach, CA</label
              >
            </ion-slide> -->

  <!-- ))))) -->
  <!-- </ion-slides>
        </ion-col>
      </ion-row>
    </div>
  </div>
 -->

  <!-- Container numero 3 para las fechas y fotos-->

  <div
    class="container3"
    *ngIf="user?.role_id == 4"
    style="margin-top: 30px !important; margin-bottom: 30px"
  >
    <ion-button
      class="pago"
      *ngIf="user?.role_id == 4 && user?.suscripcion == 0"
      (click)="iraPago()"
      >Suscripción Banners</ion-button
    >
    <a href="https://timemapp.davidtovar.dev/intranet/"
      ><ion-button
        *ngIf="user?.role_id == 4 && user?.suscripcion == 1"
        style="--color: black"
      >
        <p>Ir al Panel de Admin</p></ion-button
      ></a
    >
  </div>
  <div class="container4" style="margin-top: -30px; margin-bottom: 20px">
    <ion-button
      class="cancelar"
      *ngIf="user?.role_id == 4 && user?.suscripcion == 1"
      style="--color: black"
      (click)="cancelarSuscripcion()"
    >
      <p>Cancelar Suscripción</p>
    </ion-button>

    <!--<ion-button class="cancelar">
      <p
        *ngIf="user?.role_id == 4 && user?.suscripcion == 1
        style="color: black"
        (click)="cancelarSuscripcion()"
        >
        Cancelar Suscripción
      </p>
    </ion-button>-->
  </div>
</ion-content>
