<app-loading [text]="'Cargando perfil...' | translate" *ngIf="isLoading"></app-loading>

<ion-content padding *ngIf="!isLoading">
  
		<!-- doomed v3 header -->

	<!-- 
		typescript back()

		public back() {
    this.navCtrl.navigateForward("/tabs");
  	} 
	-->

	<img
    style="margin-top: 10%; margin-left: 5%; position: absolute;z-index: 5;"
    id="btn_atras"
    src="assets/imgs/Group 114.png"
    (click)="back()"
		
  />
  <ion-row class="row-perfil-datos" style="margin-top: 1.5vh; padding-bottom: 20px;">
    <!--Decorado 1-->
    <ion-col class="col-perfil-decorado1">
      <img
        style="margin-top: 10%"
        id="ondas_imagen"
        src="assets/imgs/Group 126.png"
      />
    </ion-col>

    <ion-col class="col-titulo-pagina"
			style="
				display: flex;
				align-items: center;
				"
			>
      <p
        id="titulo"
        style="
          font-size: 25px;
          font-family: 'Canela';
          color: black;
          margin: 0 auto;
          text-align: center;
        "
      >
        <span style="font-style: italic;">{{"editar" | translate}}</span><br>{{"Perfil" | translate}}
      </p>

      <!-- <ion-button (click)="out()" style="color: red
      ;">FUERA</ion-button> -->
    </ion-col>
    <!-- Decorado 3 -->
    <ion-col class="col-perfil-decorado3">
      <img
        style="margin-top: 10%; margin-left: 50%"
        id="perfil_estrella1"
        src="assets/imgs/estrellas_registro.svg"
      />
    </ion-col>
  </ion-row>

	<!-- doomed header v3 -->

  <ion-avatar>
    <img [src]="user?.avatar" (click)="adjuntarImagen()" />
  </ion-avatar>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-label> {{"Nombre" | translate}} </ion-label>
    <ion-item lines="none">
      <ion-input
        clearInput
        type="text"
        [placeholder]="'Nombre de usuario' | translate"
        formControlName="name"
      ></ion-input>
    </ion-item>

    <ion-label> {{"Email" | translate}} </ion-label>
    <ion-item lines="none">
      <ion-input
        clearInput
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
    </ion-item>

    <ion-label> {{"Descripción" | translate}} </ion-label>
    <ion-item lines="none">
      <ion-input
        clearInput
        type="text"
        [placeholder]="'Introduce una descripcion' | translate"
        formControlName="description"
      ></ion-input>
    </ion-item>

    <ion-label> {{"Localizacion" | translate}} </ion-label>

    <ion-item lines="none">
      <ion-input
        [(ngModel)]="direccion"
        clearInput
        type="text"
        [placeholder]="'¿De donde eres?' | translate"
        formControlName="user_location"
      ></ion-input>

      <ion-button
        class="location-search-btn"
        style="color: #333"
        (click)="GetDireccion()"
        ><ion-icon name="search"></ion-icon
      ></ion-button>
    </ion-item>

    <ion-item
      class="resultadosGeocoder"
      *ngIf="resultadosDireccion.length > 0 && !NoResult"
    >
      <ion-list>
        <div
          class="place-wrap"
          *ngFor="let r of resultadosDireccion"
          (click)="SelectPlace(r)"
        >
          <p *ngIf="r.locality">
            {{r.areasOfInterest[0]}}, {{r.locality}}, {{r.countryName}}
          </p>

          <p *ngIf="!r.locality">{{r.areasOfInterest[0]}}, {{r.countryName}}</p>
        </div>
      </ion-list>
    </ion-item>

    <ion-item
      class="resultadosGeocoder"
      *ngIf="resultadosDireccion.length==0 && NoResult"
    >
      <ion-list>
        <div class="place-wrap">{{"No se ha encontrado ninguna dirección" | translate}}</div>
      </ion-list>
    </ion-item>

    <div class="btn-wrap">
      <ion-button expand="block" type="submit" [disabled]="!form.valid"
			style="
				font-family: 'Alliance';	
				font-size: 15px;
			"
			>{{"Guardar cambios" | translate}}</ion-button
      >
      <ion-button
        class="logout"
        expand="block"
        type="button"
        fill="outline"
        (click)="auth.logout()"
				style="
            --background: #b9a8a800;
    width: 100%;
    margin: 5% auto;
    text-transform: none;
    letter-spacing: normal;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
					font-family: 'Alliance';	
					font-size: 15px;
				"
        >{{"Cerrar sesión" | translate}}</ion-button
      >
      <ion-button
        class="delete"
        expand="block"
        type="button"
        (click)="ModalDeleteUser()"
				style="
					font-family: 'Alliance';	
					font-size: 15px;
          --background: #b9a8a800;
    width: 100%;
    margin: 5% auto;
    text-transform: none;
    letter-spacing: normal;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
				"
        >{{"Cancelar cuenta" | translate}}</ion-button
      >
    </div>
  </form>
</ion-content>
