<ion-header>
  <ion-toolbar>
    <img id="btn_atras" style="position: absolute;" src="assets/imgs/Group 114.png" (click)="back()" />
    <ion-title>Término y Condiciones de Uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>1. Introducción</h2>
  <div>
    Timemapp es titular de todos los derechos de propiedad intelectual o de cualquier otro tipo sobre la aplicación
    Timemapp.
  </div>
  <div>
    Las presentes condiciones de uso, regulan el acceso y uso de la aplicación por parte de sus usuarios, así como el
    uso del sitio web, las API y los widgets de Timemapp, y serán complementadas con cualesquiera textos legales que
    regulen cualquier funcionalidad, servicio, proceso, aplicación, plataforma o medios necesarios para el uso de la
    aplicación o incluidos en la misma.
  </div>
  <h2>2. Objeto y ámbito de aplicación</h2>
  <div>
    Timemapp tiene como objeto conservar la memoria colectiva en forma de contenido geolocalizado o no, organizado por
    temas y fechas. Para ello, la aplicación mostrará contenido considerado relevante, interesante y personalizado para
    el usuario en función de su actividad en el sitio y fuera de él con la intención de inspirarlo.
  </div>
  <div>
    A fin de prestar los servicios especificados, Timemapp necesita poder identificar a los usuarios y sus intereses.
    Algunas de las publicaciones que te mostramos están promocionadas por anunciantes. Para acceder a ciertas funciones,
    se pedirá al usuario permiso para obtener la geolocalización de su dispositivo de acceso y también para determinar
    sus lugares favoritos.
  </div>
  <div>
    El usuario está sujeto a las políticas y condiciones vigentes en el momento en que utilice la aplicación presente, a
    excepción de que por ley o decisión del organismo competente se deban hacer los cambios adecuados con carácter
    retroactivo en las políticas o condiciones mencionadas. En este sentido, Timemapp se reserva la facultad de
    efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la información
    contenida en la app, de la configuración y de la presentación de ésta y de las condiciones de acceso. Por tanto, se
    recomienda a los usuarios que consulten asiduamente las condiciones que se determinan en la nota legal presente.
  </div>
  <div>
    La descarga y utilización de la aplicación supone la aceptación y cumplimiento de las presentes Condiciones de Uso.
    <div>
      ● Quién puede usar Timemapp
    </div>
  </div>
  <div>
    Puedes usar Timemapp conforme a estas Condiciones y a todas las leyes aplicables. Cuando creas una cuenta en
    Timemapp, debes proporcionar datos completos y precisos. No se permite el uso o acceso de usuarios de menos de 14
    años sin supervisión. Solo puedes usar Timemapp si tienes edad necesaria para dar tu consentimiento al procesamiento
    de datos de conformidad con las leyes de tu país.
    <div>
      ● Nuestra licencia para los usuarios
    </div>
  </div>
  <div>
    En el marco de estas Condiciones y de nuestras políticas (incluidas nuestras Directrices para la comunidad), te
    concedemos una licencia limitada, no exclusiva, no transferible y revocable para el uso de nuestro Servicio.
    <div>
      ● Uso comercial de Timemapp
    </div>
  </div>
  <div>
    Si quieres usar nuestros servicios con fines comerciales, debes crear una cuenta como patrocinador para empresas y/o
    entidad pública o privada y aceptar nuestras Condiciones comerciales. Si abres una cuenta para una empresa,
    organización u otra entidad, entonces "tú" te incluye tanto a ti como a dicha entidad, das tu palabra de que estás
    autorizado a conceder todos los permisos y licencias incluidos en estas Condiciones, y de que aceptas dichas
    Condiciones en nombre de la entidad.
  </div>
  <h2>3. Prestación del servicio</h2>
  <div>
    Timemapp, en los aspectos técnicos que escapen de su control y responsabilidad, no garantiza la inexistencia de
    interrupciones o errores en el acceso a la aplicación, ni que ésta se encuentre libre de virus ni de cualquier otro
    elemento que pueda producir alteraciones en el sistema informático del usuario.
  </div>
  <div>
    Timemapp no se hace responsable de los perjuicios que se puedan derivar de interferencias, omisiones,
    interrupciones, virus informáticos, averías y/o desconexiones en el funcionamiento operativo de este sistema
    electrónico o en los aparatos y equipos informáticos de los usuarios, motivados por causas ajenas a Timemapp, que
    impidan o retrasen la prestación de los servicios o la navegación en la app, ni de los retrasos o bloqueos en el uso
    causados por deficiencias o sobrecargas de Internet o en otros sistemas electrónicos, ni de la imposibilidad de dar
    el servicio o permitir el acceso por causas no imputables a Timemapp, debidas al usuario, a terceros, o a supuestos
    de fuerza mayor.
  </div>
  <h2>4. Propiedad intelectual e industrial</h2>
  <div>
    El titular del contenido y de los elementos que conforman la presente App es Timemapp, perteneciéndole en
    consecuencia la propiedad intelectual de la misma y en particular todos los códigos fuente, textos, imágenes,
    diseño, logos, programas informáticos, animaciones, bases de datos, marcas, nombre comercial o signo distintivo,
    sonidos y demás elementos gráficos o sonoros de la aplicación. Esta enumeración no constituye un listado cerrado
    sino ejemplificativo y dichos elementos se encuentran debidamente protegidos de conformidad con la normativa
    española e internacional sobre Propiedad Intelectual e Industrial.
  </div>
  <div>
    La persona usuaria se obliga a usar los contenidos de forma diligente y correcta, de acuerdo con la ley, la moral y
    el orden público.
  </div>
  <div>
    Para respetar los derechos de las personas dentro y fuera de Timemapp:
    <div>
      o No infrinjas la propiedad intelectual, privacidad u otros derechos de alguien.
    </div>
    <div>
      o No hagas nada ni publiques ningún contenido que viole la legislación o la normativa.
    </div>
    <div>
      o No uses el nombre, logotipo, marca comercial o marca de Timemapp de forma que confunda a la gente.
    </div>
  </div>
  <div>
    Timemapp podrá ejercitar sus derechos ante cualquier posible vulneración. Primero te requerirá para que dejes de
    infringir los derechos de autor y de propiedad intelectual e industrial. En caso de que no lo respetes, se pondrá en
    conocimiento de las autoridades competentes.
  </div>
  <h2>5. Seguridad y protección de datos</h2>
  <div>
    Timemapp protegerá los datos personales de los usuarios y los utilizará solo en la medida en que lo permita la ley o
    siempre que los usuarios hayan dado su consentimiento. Los usuarios pueden encontrar más información sobre este tema
    en la <a style="color: black;" routerLink="/politica-privacidad">Política de privacidad.</a>
  </div>
  <div>
    Timemapp no puede garantizar que terceros no autorizados no serán capaces de vulnerar nuestras medidas de seguridad.
    Te pedimos que mantengas la seguridad de tu contraseña. Si crees que un tercero no autorizado ha accedido a tu
    cuenta, notifícanoslo de inmediato.
  </div>
  <h2>6. Consultas, sugerencias, quejas o reclamaciones</h2>
  <div>
    Para cualquier sugerencia, consulta, queja o reclamación, el usuario puede dirigirse al Timemapp, a través de los
    canales de comunicación actuales o futuros que determine en cada momento, tales como:
    <div>
      ● Correo electrónico: info@timemapp.com
    </div>
    <div>
      ● Correo postal: Calle Laurel de la Reina 15 La Zubia 18140 Granada España
    </div>
  </div>
  <h2>7. Independencia e integración de las cláusulas</h2>
  <div>
    La ilicitud, invalidez o ineficacia de cualquiera de las cláusulas de las presentes Condiciones de Uso no afectará a
    la eficacia del resto, siempre que los derechos y obligaciones de las partes derivados de las Condiciones de Uso no
    se vieran afectados de forma esencial. Se entiende por esencial cualquier situación que lesione gravemente los
    intereses de cualquiera de las partes, o que recaiga sobre el objeto mismo los presentes Términos de Uso. Dichas
    cláusulas deberán reemplazarse o integrarse con otras que, siendo conformes a la ley, respondan a la finalidad de
    las sustituidas.
  </div>
  <div>
    Estas condiciones de uso están actualizadas a 15 Junio de 2022.
  </div>
</ion-content>