ion-content {
    app-home-post{
        width: 100%;
    }

    .main-wrap {

        .top-wrap {

            margin: 10% auto;

            .inner-top-left-wrap {
                // padding-left: 5%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .btn-atras {
                    position: absolute;
                    margin-left: 10%;
                }

                #ondas_imagen {
                    margin-left: -5vw;
                }
            }

            .inner-top-mid-wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                .title-label {
                    color: #333;
                    font-size: 25px;
                    font-family: "Canela";
                    font-weight: 700;

                }

            }

            .inner-top-right-wrap {
                display: flex;
                justify-content: flex-end;

                .star-wrap {
                    width: 50%;
                    max-width: 65px;
                    min-width: 55px;

                    ion-grid {
                        display: flex;
                        flex-flow: column;

                        .star-top {
                            justify-content: flex-start;
                        }

                        .star-mid {
                            justify-content: flex-end;
                        }

                        .star-bot {
                            justify-content: flex-start;
                        }




                    }
                }

            }




        }
    }

}