<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="contenido">
    <h2 class="title ion-text-center">Introduce tu email</h2>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()" >
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full">Enviar</ion-button>
    </form>
  </div>
</ion-content>