ion-content{
    background-size: cover;
    --background:url(../../../assets/imgs/base-background.jpg);
    .title{
        color:white;
    }
    ion-button{
        text-transform: none;
    }
    .contenido{
        margin-top:20vh;
    }
}