<ion-header>
  
  <ion-toolbar>
    <img id="btn_atras" style="position: absolute;"src="assets/imgs/Group 114.png" (click)="back()"/>
    <ion-title style="text-align: center;">Aviso Legal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <h2>Introducción</h2>
  <div>
    Este Aviso Legal regula el uso de la app Timemapp. El acceso a la app es gratuito, salvo en aquello relativo al
    coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso contratada por
    las personas usuarias y de los servicios que de forma expresa la persona usuaria pueda contratar a través de la app.
  </div>
  <h2>Aceptación de condiciones legales de navegación</h2>
  <div>
    La utilización de la app Timemapp atribuye la condición de persona usuaria e implica la aceptación plena y sin
    reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal en el mismo momento en que la
    persona usuaria acceda a la app Timemapp. En consecuencia, el usuario debe leer atentamente el presente Aviso Legal
    y por ello se pone a su disposición de forma permanente.
  </div>
  <h2>Responsable - ¿Quién es el responsable legal de la app?</h2>
  <div>
    De conformidad con el artículo 10 de la Ley 34/2002 , de 11 de julio, de " Servicios de la Sociedad de la
    Información y Comercio Electrónico (LSSI)", se informa que la empresa encargada de la gestión y funcionamiento del
    la app es:
    Denominación comercial:
    Nombre: Timemapp
    NIF: 241943245G
    Dirección: Calle Laurel de la Reina 15 La Zubia 18140 Granada España
    Correo electrónico: info@timemapp.com
    Actividad: red social
  </div>
  <h2>Normativa aplicable</h2>
  <div>
    <div>
      · Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección
      de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos
      datos y por el que se deroga la Directiva 95/46/CE (Reglamento general de protección de datos).
    </div>
    <div>
      · Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.
    </div>
    <div>
      · Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico
    </div>
  </div>
  <div>
    La app cumple y se compromete con el cumplim­iento de esta normativa, sin perjuicio del deber de cumplimento de
    otras normativas específicas o sectoriales no mencionadas.
  </div>
  <h2>Información sobre los vínculos “links”</h2>
  <div>
    Timemapp no se hace responsable de los contenidos de las apps y webs de terceros a las que se puede acceder mediante
    vínculos "links" o de cualquier contenido puesto a disposición por terceros, aún más debido a que pueden ser
    modificados en cualquier momento por su gestor de contenidos y sin previo aviso.
  </div>
  <div>
    Cualquier uso de un vínculo o acceso a una app o Web no propia es realizado por voluntad y riesgo exclusivo de la
    persona usuaria y Timemapp no garantiza ninguna información obtenida a través del contenido al que se llega mediante
    un vínculo ajeno a la app Timemapp, ni se responsabiliza de ninguna pérdida, reclamación o perjuicio derivada del
    uso o mal uso de un vínculo, o de la información obtenida a través de él, incluyendo otros vínculos a terceras apps
    o webs, de la interrupción en el servicio o en el acceso.
  </div>
  <h2>Limitación de Responsabilidades</h2>
  <div>
    Timemapp hace todo lo posible para evitar cualquier error en relación con los contenidos de esta app.
  </div>
  <div>
    Timemapp adopta las medidas y los mecanismos necesarios para garantizar la seguridad de las comunicaciones y las
    transacciones que se produzcan mediante la app, según el estado de la tecnología y de acuerdo con la tipología de
    las transacciones y los servicios que se ponen a disposición de las personas usuarias.
  </div>
  <div>
    Timemapp no será responsable de los daños que se puedan ocasionar al sistema informático de las personas usuarias
    por cualquier causa ajena o no imputable a la app, incluidos, sin limitaciones, los daños ocasionados a causa de
    interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el
    funcionamiento operativo del sistema electrónico.
  </div>
  <div>
    Asimismo, Timemapp tampoco responderá de ninguna interrupción, error o fallo que se produzca en el sistema, debido a
    un mal funcionamiento de la red o de los servidores que están conectados.
  </div>
  <h2>NO comparta su información personal</h2>
  <div>
    Timemapp nunca le enviará un correo electrónico ni le llamará por teléfono para pedirle que revele o verifique la
    contraseña de su cuenta bancaria, ni sus números de cuenta bancaria o tarjeta de crédito, ni ningún otro tipo de
    información personal. En caso de que alguien se ponga en contacto con usted o de recibir un correo electrónico no
    solicitado que le pida alguno de los datos anteriores, no responda y comuníquelo inmediatamente a Timemapp, para que
    procedan a la investigación del incidente.
  </div>
  <h2>Identifique los correos electrónicos falsos (intentos de 'spoofing' o 'phishing')</h2>
  <div>
    Ignore todo correo electrónico que, sin estar realizando ningún proceso de compra o suscripción, reciba en el que se
    le solicite información personal o bancaria o que le redirija a otra página web que no sea propiedad de Timemapp o
    en el que se le pida que verifique sus datos bancarios o que pague por un medio distinto del autorizado por
    Timemapp, ya que podría ser un intento de suplantación de personalidad ( 'spoofing' o 'phishing'), y deberá
    considerarlo fraudulento.
  </div>
  <div>
    Algunos correos electrónicos que practican phishing contienen enlaces a sitios web que utilizan en su URL la palabra
    del dominio que pretende suplantar, pero que le dirigirán a un sitio web completamente diferente. Si desplaza el
    ratón por encima del enlace, podrá ver la URL asociada, que probablemente tendrá un formato diferente a las
    enlazadas en los sitios web auténticos.
  </div>
  <div>
    Si aun así usted hace clic en un correo electrónico que practica phishing y es redirigido a una página que suplanta
    la identidad de otra con fines presumiblemente ilícitos o a cualquiera que le pida verificar o modificar su
    información personal, ignorela y considerela como fraudulenta.
  </div>
  <div>
    En este caso, envíe un correo electrónico a las autoridades adjuntando el correo electrónico que considere falso. Al
    adjuntar ese correo electrónico fraudulento, está ayudando a localizar su origen. Si no puede adjuntar el correo
    electrónico falso, reenvielo a las autoridades e incluya la mayor cantidad de información posible sobre el mismo.
  </div>
  <div>
    Este aviso legal está actualizado a 15 de junio de ­2022.
  </div>

</ion-content>