<ion-header>
  <ion-toolbar color="primary"class="ion-text-center">
    <ion-title>Elige tu idioma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-row>
    <ion-col class="idioma">
      <img src="assets/imgs/spanish.png" alt="" (click)="seleccionarIdioma('es')">
    </ion-col>
    <ion-col class="idioma">
      <img src="assets/imgs/french.png" alt="" (click)="seleccionarIdioma('fr')">
    </ion-col>
    <ion-col class="idioma">
      <img src="assets/imgs/pt.png" alt="" (click)="seleccionarIdioma('pt')">
    </ion-col>
    <ion-col class="idioma">
      <img src="assets/imgs/i.png" alt="" (click)="seleccionarIdioma('en')">
    </ion-col>
    <ion-col class="idioma">
      <img src="assets/imgs/it.png" alt="" (click)="seleccionarIdioma('it')">
    </ion-col>
  </ion-row>

</ion-content>