ion-content {
    div {
        padding: 8px;
        font-family: "Alliance";
        color: black;
        text-align: center;
    }

    h2 {
        text-align: center !important;
        font-weight: bold;
        font-family: "Alliance";
        color: black;
    }
}

ion-toolbar {

    font-weight: bold;
    font-family: 'Canela';
    --background: var(--ion-color-primary);
}