<ion-header color="primary">
  <ion-toolbar>
    <img id="btn_atras" style="position: absolute;"src="assets/imgs/Group 114.png" (click)="back()"/>
    <ion-title style="text-align: center;">Política de Privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding: 8px;"  color="primary">
  <div>
    En Timemapp estamos comprometidos con la protección de la privacidad y el uso correcto de los datos personales y
    ponemos a su disposición la presente información a fin de que tenga conocimiento detallado sobre el tratamiento de
    sus datos.
  </div>
  <div>
    Timemapp trata datos personales de las diferentes personas físicas con las que se relaciona para llevar a cabo
    diversas actividades y pueden ser utilizados de diversas maneras y compartidos con diferentes personas en función de
    las finalidades para las que los necesitemos. En todo caso, la empresa no cederá ni venderá los datos personales a
    ninguna otra empresa, bajo ninguna circunstancia.
  </div>
  <div>
    ¿Quién es el responsable del tratamiento de tus datos?
    <div>
      • Entidad responsable del tratamiento: Timemapp
    </div>
    <div>
      • Dirección postal: Calle Laurel de la Reina 15 La Zubia 18140 Granada España
    </div>
    <div>
      • Correo electrónico: info@timemapp.com
    </div>
  </div>
  <h2>¿Con qué finalidad y legitimación tratamos sus datos personales?</h2>
  <div>
    En Timemapp nos comprometemos a mostrarte contenido relevante, interesante y personalizado. Para ello, usamos tu
    información para proporcionar y mejorar tu experiencia, que incluye lo siguiente:
    <div>
      o Identificarte cuando usas Timemapp.
    </div>
    <div>
      o Recomendarte contenidos, lugares, temas o categorías que te podrían gustar en función de tu actividad en
      Timemapp.
      Por ejemplo, si vemos que te gusta cocinar, podemos sugerirte recetas, localizaciones o usuarios relacionados con
      comida que pensamos que te pueden gustar, o mostrarte anuncios o información relacionados con comida.
    </div>
    <div>
      o Responder a tus preguntas o comentarios.
    </div>
  </div>
  <div>
    Tenemos un interés legítimo en usar tu información de esta forma. Es fundamental para lo que hacemos en Timemapp y
    necesario para que Timemapp y sus funciones sean relevantes y personalizadas.
  </div>
  <div>
    Además, tenemos un interés auténtico en hacer que Timemapp sea seguro y mejorar las funciones de nuestros productos
    para que puedas seguir encontrando la inspiración que buscas. Todos salimos beneficiados cuando usamos tu
    información para lo siguiente:
    <div>
      o Sugerirte a otros usuarios con intereses similares. Por ejemplo, si sigues grupos sobre decoración de
      interiores,
      podemos sugerirte diseñadores de interiores que te pueden gustar.
    </div>
    <div>
      o Ayudar a tus amigos y contactos a encontrarte en Timemapp. Por ejemplo, si te registras usando una cuenta de
      Facebook, podemos ayudar a tus amigos de Facebook a encontrarte en Timemapp cuando se registren en Timemapp por
      primera vez. O bien, los usuarios pueden buscar tu cuenta en Timemapp usando tu correo electrónico.
    </div>
    <div>
      o Colaborar con las autoridades competentes para mantener Timemapp seguro. Es posible que recibamos solicitudes de
      las autoridades competentes, como la policía o los tribunales, para que les facilitemos información sobre una
      cuenta. Para obtener más información acerca de cómo respondemos a las solicitudes de las autoridades competentes.
    </div>
    <div>
      o Revisar tus mensajes en Timemapp para detectar actividad que suponga un riesgo para tu seguridad, la de nuestra
      comunidad o la de miembros del público.
    </div>
    <div>
      o Realizar estudios analíticos e investigaciones sobre quién usa Timemapp y lo que hacen en la plataforma. Por
      ejemplo, al registrar con qué frecuencia los usuarios utilizan dos versiones diferentes de una función en
      Timemapp,
      podemos saber cuál es la mejor versión.
    </div>
    <div>
      o Mejorar Timemapp y ofrecer nuevas funciones.
    </div>
    <div>
      o Ofrecerte publicidad de los productos y servicios de Timemapp en otros sitios. Puedes elegir que no compartamos
      tu
      información con otros sitios para personalizar esos anuncios.
    </div>
    <div>
      o Enviarte actualizaciones (por ejemplo, cuando se realiza alguna actividad, como guardar contenido o comentar, en
      Timemapp) y noticias por correo electrónico o notificaciones push, según tu configuración.
    </div>
  </div>
  <div>
    Tenemos un interés legítimo en mostrar anuncios relevantes, interesantes y personalizados a fin de generar ingresos.
    Para promover estos intereses, usamos la información que recopilamos para:
    <div>
      o Decidir qué anuncios mostrarte. Por ejemplo, si muestras interés en tiendas de campaña en Timemapp podemos
      mostrarte anuncios de otros productos para el exterior. Personalizamos el contenido del anuncio que te mostramos
      identificando tus intereses en función de tus actividades en nuestro sitio y fuera de él, así como utilizando la
      información que recibimos de los socios publicitarios u otros servicios externos. Si se usan cookies para
      identificar tus intereses fuera del sitio, obtendremos tu autorización cuando sea necesario. Si los socios
      publicitarios u otros servicios externos comparten información acerca de ti con nosotros, confiamos en que ya han
      obtenido autorización.
    </div>
    <div>
      o Informar a nuestros socios publicitarios sobre el rendimiento de sus anuncios de Timemapp y sobre cómo
      mejorarlos.
      Parte de esta información es agregada. Por ejemplo, informaríamos a un anunciante de que un porcentaje determinado
      de personas que han visto un anuncio han visitado el sitio de dicho anunciante. En otros casos, esta información
      no
      es agregada. Por ejemplo, informaríamos a un anunciante de que determinadas personas han guardado un anuncio
      concreto.
    </div>
    <div>
      o Tenemos un interés legítimo en utilizar la información que recopilamos para personalizar tu experiencia en
      Timemapp en función de tu comportamiento fuera del sitio o la app. Cuando identifiquemos tus intereses en función
      de
      tu comportamiento fuera del sitio o la app mediante cookies, obtendremos la autorización que corresponda (o lo
      harán
      nuestros socios). Para obtener más información acerca de cómo usamos las cookies, consulta nuestra Política de
      cookies.
    </div>

    Además de estas circunstancias específicas, sólo utilizaremos tu información con tu autorización para:
    <div>
      o Enviarte materiales de marketing por correo electrónico, mensaje de texto, notificación push o llamada
      telefónica,
      según la configuración de tu cuenta o de tu sistema operativo. Cada vez que te enviemos materiales de marketing,
      te
      daremos la opción de cancelar la suscripción.
    </div>
    <div>
      o Identificar tu ubicación precisa y personalizar el contenido que te mostramos. Por ejemplo, si sabemos que estás
      cerca de un minorista, podemos mostrarte contenidos de dicho minorista que podrían interesarte. Puedes activar
      esta
      opción en la configuración del sistema operativo de tu dispositivo.
    </div>
    <div>
      o Informar a nuestros socios publicitarios sobre el rendimiento de sus anuncios utilizando la Etiqueta de
      Timemapp.
      La Etiqueta de Timemapp (un fragmento de código que un anunciante coloca en su sitio) nos brinda información a
      nosotros y a nuestros socios publicitarios sobre las acciones que una persona realiza en su sitio web después de
      ver
      un anuncio en Timemapp.
    </div>

  </div>
  <div>
    También dependeremos de tu consentimiento cuando usemos cookies para mostrarte anuncios que podrían interesarte.
    Utilizamos cookies para identificar tus intereses en función de tu actividad fuera del sitio. Esto se hace para los
    usuarios actuales de Timemapp y los nuevos, y nos ayuda a personalizar tu experiencia inicial en Timemapp
  </div>
  <h2>¿Cómo garantizamos la seguridad de sus datos?</h2>
  <div>
    Timemapp mantiene las medidas de seguridad de protección de datos personales conforme al contenido de lo dispuesto
    en el GDPR, y ha establecido todos los medios técnicos a su alcance para evitar la pérdida, mal uso, alteración,
    acceso no autorizado y robo de los datos que nos facilite.
  </div>
  <div>
    Todo ello teniendo en cuenta el estado de la evolución tecnológica, la naturaleza de los datos almacenados y los
    riesgos a que están expuestos, ya provengan de la acción humana, acción automatizada o robot o del medio físico o
    natural.
  </div>
  <div>
    Del mismo modo, los datos personales de las personas usuarias serán tratados con total confidencialidad. La empresa
    no cederá en ningún caso los datos personales a terceras personas ajenas a la app, salvo que sea requerido por ley.
  </div>
  <h2>¿Por cuánto tiempo conservaremos sus datos?</h2>
  <div>
    Sin perjuicio de lo dispuesto anteriormente en relación con los respectivos tratamientos de datos los datos
    personales a los que se tenga acceso en virtud de su relación con Timemapp se tratarán mientras resulten precisos
    para la gestión de las finalidades arriba dispuestas.
  </div>
  <div>
    Conservamos tu información solo mientras la necesitemos para prestarte el servicio de Timemapp y cumplir los
    objetivos descritos en esta política. Esto mismo es aplicable a cualquier parte con la que compartamos tu
    información y que preste servicios en nuestro nombre. Cuando ya no necesitemos usar tu información y no tengamos la
    necesidad de conservarla para satisfacer nuestras obligaciones legales o reglamentarias, la eliminaremos de nuestros
    sistemas o la despersonalizaremos para no poder identificarte.
  </div>
  <h2>¿Cuáles son tus derechos en relación con el tratamiento de sus datos?</h2>
  <div>
    <div>
      • Derecho de acceso: puede preguntarnos qué datos personales estamos tratando incluso solicitarnos una copia de
      los
      mismos.
    </div>
    <div>
      • Derecho de rectificación: puede solicitarnos la rectificación de los datos personales inexactos o que sean
      incompletos, inclusive mediante una declaración adicional.
    </div>
    <div>
      • Derecho de supresión (derecho al olvido): puede solicitarnos la supresión de sus datos personales cuando no sean
      necesarios para los fines para los que fueron recogidos, retire su consentimiento, haya habido un tratamiento
      ilícito de los mismos o por cumplimiento de una obligación legal.
    </div>
    <div>
      • Derecho a la limitación del tratamiento: puede solicitarnos la limitación del tratamiento de tus datos, en cuyo
      caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.
    </div>
    <div>
      • Derecho a la portabilidad de los datos: puede solicitarnos que le devolvamos (a usted o a un tercero que nos
      indique) sus datos personales en un formato estructurado, de uso común y lectura mecánica.
    </div>
    <div>
      • Derecho de oposición: puede oponerse al tratamiento que se haga de sus datos si dicho tratamiento se base en el
      interés legítimo del responsable del fichero o es para fines publicitarios.
    </div>
  </div>
  <div>
    Para ejercer todos estos derechos puede dirigirse a nosotros mediante este email info@timemapp.com. En caso de
    modificación de sus datos deberá notificarlo en la misma dirección, declinando toda responsabilidad para la empresa
    en caso de no hacerlo.
    Una vez recibida cualquiera de las anteriores solicitudes te responderemos en un plazo máximo de 10 días.
  </div>
  <h2>¿Ante qué autoridad puede ejercitar sus reclamaciones?</h2>
  <div>
    Tienes derecho a reclamar ante la Agencia Española de Protección de Datos. Si deseas más información acerca de los
    derechos que puedes ejercitar y para la solicitud de modelos de formularios de ejercicio de derechos puedes visitar
    la página web de la Agencia española de Protección de Datos, www.agpd.es
  </div>
  <h2>Spam</h2>
  <div>
    Timemapp no aprueba la práctica del “spamming”. Esta palabra significa el envío masivo y repetido de mensajes de
    correo electrónico no solicitados, normalmente de carácter comercial, a personas con las cuales el remitente no ha
    mantenido ningún contacto anterior, o personas que hayan expresado su deseo de no recibir tales mensajes.
    En el caso de que Timemapp considere que determinada información puede ser de interés para las personas usuarias, se
    reserva el derecho a facilitarles dicha información por correo electrónico, previo su consentimiento y ofreciendo
    siempre la posibilidad de excluirse de ese servicio de información.
  </div>
  <h2>Disclaimer</h2>
  <div>
    Timemapp no se hace responsable de las opiniones y comentarios que personas ajenas a la organización publiquen en
    redes sociales, webs, foros, reseñas o apps sobre Timemapp o cualquiera de sus servicios, personal o instalaciones,
    siendo el autor o autora el único responsable de su veracidad.
  </div>
  <h2>Cuestiones Adicionales:</h2>
  <div>
    En cualquier momento podrá oponerse a cualesquiera de los tratamientos indicados anteriormente sin que tenga ninguna
    consecuencia sobre su condición de cliente de Timemapp.
  </div>
  <div>
    Asimismo, podrá ejercer sus derechos de acceso, rectificación, supresión, oposición, limitación o portabilidad
    mediante comunicación por escrito a info@timemapp.com
  </div>
  <div>
    Si tuviera cualquier duda, cuestión o reclamación sobre la forma en la que tratamos sus datos personales, puede
    ponerse en contacto en info@timemapp.com
  </div>
  <div>
    En el supuesto que no obtenga respuesta en un periodo razonable (1 mes) podrá interponer reclamación ante la
    Autoridad Española de Protección de Datos.
  </div>
  <h2>Modificación de la Política de Privacidad</h2>
  <div>
    Timemapp se reserva el derecho de modificar en cualquier momento la presente política con el objeto de adaptarla a
    las novedades legislativas, siendo publicadas las sucesivas versiones en el sitio web.
  </div>
  <div>
    Los cambios serán comunicados en nuestra página Web con la antelación que sea necesaria, sin perjuicio de pedir el
    consentimiento necesario de las personas afectadas por el cambio normativo, cuando éste no se considerase otorgado
    con arreglo a los términos de la presente política.
  </div>
  <div>
    Cualquier duda, pregunta o comentarios que pudiera albergar con referencia a la presente normativa, no dude en
    consultarlas dirigiendo su comunicación al respecto a: info@timemapp.com
  </div>
  <div>
    Esta política de privacidad está actualizada a 1 de Junio de 2022.
  </div>
</ion-content>