// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Canela';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/canela-bold.ttf');
}

@font-face {
  font-family: 'Alliance';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/ALLIANCE-NO-1-REGULAR.OTF');
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FAF5F0;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #206FBC;
  --ion-color-primary-tint: #206FBC;

  /** secondary **/
  --ion-color-secondary:  #72A3C7 ;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #fafaef;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #F3B562;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d	;

  /** warning **/
  --ion-color-warning: #F3B562;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #F3B562;
  --ion-color-warning-tint: #F3B562;

  /** danger **/
  --ion-color-danger: #E7DDD6;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #AEC5D5;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: 'Lato';

  // --ion-background: transparent;
  // --ion-background-color  : transparent;
}
