<ion-content>
  <div *ngIf="isLoading">
    <!-- Display a loading message or spinner 
     <video playsinline="playsinline" style="visibility: hidden;" class="video" [src]="video.src" autoplay
      controlsList="nodownload" disablePictureInPicture autofullscreen="false"
      (canplay)="onVideoCanPlay($event)" (error)="HandleError($event)"></video>
    
    
    -->
    <div class="loading-message" style="color: #f3f3f30a;">Loading...</div>
  </div>
  <div class="main-wrap" *ngIf="!isLoading">
    <img src="https://timemapp.davidtovar.dev/storage/assets/t63cL5bQmBPFIMr5K1s9u4Pz4vuFeDiINFMNLEHK.gif"
      alt="" srcset="" style="width: 100%;">

  </div>
</ion-content>