<ion-content color="secondary">

  <div class="container">

    <div class="titulo" color="dark">
      <img src="assets/imgs/Logo white 1.png"/>
    </div>

  </div>


  <div class="container2">

    <div class="titulo-memoria">

      <ion-row class="row-titulo-memoria">

        <label id="titulo">Collective memory</label>

        <ion-button id="btnAjustes" color="secondary">
          <ion-icon src="assets/icons/ajustes.svg"></ion-icon>
        </ion-button>

      </ion-row>

    </div>


    <div class="memoria-imagenes" >

      <ion-row class="row-imagenes" >

        <img class="imagen-icono" src="assets/icons/Group 875.svg"/>
        <img class="imagen-mostrada-g" src="assets/imgs/image 203.png"/>

      </ion-row>


      <ion-row class="row-imagenes-internas">

        <ion-col>
          <img class="imagen-icono" src="assets/icons/Group 875.svg"/>
          <img class="imagen-mostrada" src="assets/imgs/image 213.png" routerLink="/memoria-pagina"/>
        </ion-col>

        <ion-col>
          <img class="imagen-icono" src="assets/icons/Group 879.svg"/>
          <img class="imagen-mostrada" src="assets/imgs/image 200.png"/>
        </ion-col>
        
      </ion-row>

      <ion-row class="row-imagenes-internas">

        <ion-col>
          <img class="imagen-icono" src="assets/icons/Group 875.svg"/>
          <img class="imagen-mostrada" src="assets/imgs/image 202.png"/>
        </ion-col>

        <ion-col>
          <img class="imagen-icono" src="assets/icons/Group 875.svg"/>
          <img class="imagen-mostrada" src="assets/imgs/image 197G.png"/>
        </ion-col>
        
      </ion-row>

      <ion-row class="row-imagenes" >
        <img class="imagen-icono" src="assets/icons/Group 879.svg"/>
        <img class="imagen-mostrada-g" src="assets/imgs/image 199G2.png"/>

      </ion-row>

    </div>

  </div>

</ion-content>
