<ion-row id="id-header" class="header">
  <ion-col size="2">
    <img
      [ngStyle]="{ visibility: arrowBack ? 'visible' : 'hidden' }"
      (click)="returnToPage()"
      src="assets/imgs/Group 114.png"
      alt=""
  /></ion-col>
  <ion-col size="8"> <img src="assets/imgs/logo_name.svg" /></ion-col>
  <ion-col size="2">
    <ion-badge *ngIf="countNotificaciones > 0" class="badge" color="#FA581E">{{
      countNotificaciones
    }}</ion-badge>
    <img
      style="width: 20px"
      class="notificacion"
      *ngIf="countNotificaciones <= 0"
      [src]="imageNotification"
      alt=""
      routerLink="/notification-user"
    />
    <img
      style="width: 20px"
      class="notificacion"
      *ngIf="countNotificaciones > 0"
      [src]="imageNotificationActivated"
      alt=""
      routerLink="/notification-user"
    />
  </ion-col>
</ion-row>
