ion-content {
    ion-item.item-native-custom {
        --min-height: none!important;
    }
    ion-item.contraseña{
        --min-height: none!important;
    }
    ion-checkbox::part(container) {
        border-radius: 20pt;
        border: 2px solid;
    }

    ion-checkbox {
        // --size: 32px;
        --background-checked: #ffefda;
    }

    .btn-wrap {

        margin-top: 15%;

        ion-button {

            margin-bottom: 5%;

        }

    }

    ion-item {
        padding: 8px;
        --border-radius: 15px;
        margin-top: -20px;
        
    }


.row-perfil-datos{
    
}
  
    .contenedor {
        width: 100%;
        display: flex;
        justify-content: center;

        .titulo-pagina {
            display: flex;
            margin-top: 50px;
            width: 375px;

            ion-row.row-titulo-pagina {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-flow: row;


                //columna 1
                ion-col.col-titulo-decorado1 {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    max-width: 83px;

                    #cuadrante_puntos {
                        padding-left: 0;
                        margin-top: 15px;
                        height: 60px;
                        margin-left: -20px;
                    }

                }

                //Columna 2
                ion-col.col-titulo-pagina {
                    display: flex;
                    flex-flow: row nowrap;
                    max-width: 190px;
                    min-width: 120px;
                    align-items: center;
                    justify-content: center;
                    

                    #titulo {
                        color: black;
                        font-size: 47px;
                        font-weight: 400;
                        font-style: italic;
                        vertical-align: middle;
                        text-align: center;
                        font-family: "Canela";
                        margin-top: -5px;
                    }
                }

                ion-col.col-titulo-decorado2 {
                    position: relative;
                    max-width: 83px;

                    #perfil_estrella1 {
                        position: absolute;
                        top: 25px;
                        right: 48px;
                    }

                    #perfil_estrella2 {
                        position: absolute;
                        top: 48px;
                        right: 30px;
                    }

                    #perfil_estrella3 {
                        position: absolute;
                        top: 18px;
                        right: 20px;
                    }

                }

            }

        }
    }


    .contenedor2 {
        width: 100%;
        display: flex;
        justify-content: center;

        .canales {

            margin-top: -30px;

            ion-item {
                padding-bottom: 15px;

                --background: transparent;

                ion-img {
                    width: 344px;

                }
            }


        }
    }

    .contenido {
        margin-left: 10%;
        margin-right: 10%;
        ion-input.item-native {
            height: 39px;


          
        }
    }


    ion-item.item-native.custom-wrap{

        background: transparent;
    }

    ion-row.date-wrap {
        width: 100%;
        
        ion-col {
            // border: 1px solid;
            margin: 2% auto;
            border-radius: 10pt;
            background: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            

            ion-datetime {
                padding: 0;
            }
        }
    }

}