<ion-content color="primary">
  <ion-row class="row-titulo-pagina ion-align-items-center">
    <!--Decorado 1-->
    <ion-col class="col-perfil-decorado1">
      <img
        style="margin-top: 10%"
        id="ondas_imagen"
        src="assets/imgs/Group 126.png"
      />
    </ion-col>

    <ion-col class="col-titulo-pagina ion-text-center">
      <p
        id="titulo"
        style="
          font-size: 20px;
          font-family: 'Canela';
          color: black;
        "
      >
        {{"Register" | translate}}
      </p>
    </ion-col>
    <!-- Decorado 3 -->
    <ion-col class="col-perfil-decorado3">
      <img
        style="margin-top: 10%; margin-left: 50%"
        id="perfil_estrella1"
        src="assets/imgs/estrellas_registro.svg"
      />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img
        style="margin-left: -3%"
        id="cuadrante_puntos"
        src="assets/imgs/Group 125.png"
      />
    </ion-col>
  </ion-row>

  <div class="contenido">
    
    <form
      *ngIf="form"
      [formGroup]="form"
      (ngSubmit)="submitForm()"
      style="margin-top: -70px"
    >
      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Canela';
          padding: 8px;
          
        "
      >
        {{"Name" | translate}}
      </p>
      <ion-item class="item-native-custom" lines="none">
        <ion-input class="campos-registro"
          clearInput
          type="text"
          [placeholder]="'Nombre de usuario' | translate"
          formControlName="name"
          required
        ></ion-input>
      </ion-item>
      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Canela';
          padding: 8px;
        "
      >
        {{"Email" | translate}}
      </p>
      <ion-item class="item-native-custom" lines="none">
        <ion-input
          clearInput
          type="email"
          placeholder="Email"
          formControlName="email"
          required
        ></ion-input>
      </ion-item>
      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Canela';
          padding: 8px;
        "
      >
        {{"Birthday" | translate}}
      </p>
      <ion-item  lines="none" >
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true" #datetime>
          <ng-template>
            <ion-datetime id="datetime"  
            presentation="date"
            (ionChange)="onDiaChange($event)"></ion-datetime>
          </ng-template>
        </ion-modal>

     <!--    <ion-row class="date-wrap" style="width: 100%">
          <ion-col>
            

            
            </ion-col>
              <ion-col>
                <ion-datetime
                formControlName="mes"
                pickerFormat="MM"
                displayFormat="MM"
                placeholder="Mes"
                presentation="month"
                ></ion-datetime>
              </ion-col>
              <ion-col>
                <ion-datetime
                formControlName="anyo"
                pickerFormat="YYYY"
                displayFormat="YYYY"
                placeholder="Año"
                presentation="year"
            ></ion-datetime>
          </ion-col>
        </ion-row> -->
      </ion-item>
      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Canela';
          padding: 8px;
        "
      >
        {{"Password" | translate}}
      </p>
      <ion-item class="contraseña">
        <ion-input 
          clearInput
          type="password"
          [placeholder]="'Password' | translate"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>
      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Canela';
          padding: 8px;
        "
      >
        {{"RepeatPassword" | translate}}
      </p>
      <ion-item class="contraseña" style="margin-bottom: 10%">
        <ion-input
          clearInput
          type="password"
          [placeholder]="'ConfirmPassword'| translate"
          formControlName="password_confirmation"
          required
        >
        </ion-input>
      </ion-item>
      <ion-checkbox></ion-checkbox
      ><ion-label style="color: black; padding-left: 5px"
        >{{"IHaveReadAndAccept" | translate}}
        <a routerLink="/politica-privacidad" style="color: black"
          >{{ "PrivacyUsePolicy" | translate}}</a
        >
        {{"AndThe" | translate}}
        <a style="color: black" routerLink="/aviso-legal"
          >{{"LegalNotice" | translate}}</a
        ></ion-label
      >

      <div class="btn-wrap">
        <ion-button
          style="
            --border-radius: 10px;
            font-family: 'Canela';
            --color: black !important;
            --background: #aec5d5;
          "
          expand="block"
          type="button"
          (click)="loginGoogle()"
          >{{ "SignUpWithGoogle" | translate }}</ion-button
        >
        <!-- <ion-button style="--border-radius:10px; font-family: 'Canela';--color: black !important;--background:#72A3C7;" expand="block" type="button" (click)="registroFacebook()">Registrate con Facebook</ion-button> -->
        <ion-button
          style="
            --border-radius: 10px;
            font-family: 'Canela';
            --color: black !important;
            --background: #f3b562;
          "
          expand="block"
          type="submit"
          >{{"RegisterBtnText" | translate}}</ion-button
        >
        <div style="margin-top: 20px; margin-bottom: 10vh; text-align: center">
          <ion-label style="color: black; padding-left: 5px"
            >{{"DoYouAlreadyHaveAnAccount" | translate}}</ion-label
          ><ion-label
            style="color: #cb954d; font-weight: bold; margin-left: 3px"
            routerLink="/login"
            >{{"LogIn" | translate}}</ion-label
          >
        </div>
      </div>
    </form>
  </div>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="setLanguage('en')">
        <ion-icon name="checkmark" color="success" *ngIf="currentLang == 'en'"></ion-icon>
        {{"English" | translate}}
      </ion-button>
      <ion-button (click)="setLanguage('es')">
        <ion-icon name="checkmark" color="success" *ngIf="currentLang == 'es'"></ion-icon>
        {{"Spanish" | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
