ion-content {
    --background: #FAF5F0;

    .top-wrap {

        margin: 10% auto;
        display: flex;
        flex-flow: row;

        .inner-top-left-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            #ondas_imagen {

                margin-left: -5vw;

            }

            .btn-atras {
                position: absolute;
                margin-left: 10%;
            }

        }

        .inner-top-mid-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10%;

            p {
                font-size: 4.5vh;
                font-family: Canela;
                margin: 0;
                padding: 0;
                white-space: nowrap;
                text-align: center;

            }
        }

        .inner-top-right-wrap {
            .star-wrap {
                width: 60%;
                margin: auto;

                ion-grid {
                    display: flex;
                    flex-flow: column;

                    .star-top {
                        justify-content: flex-start;
                    }

                    .star-mid {
                        justify-content: flex-end;
                    }

                    .star-bot {
                        justify-content: flex-start;
                    }




                }
            }

        }
    }

    .body-wrap {
        width: 80%;
        margin: auto;

        .banner-item {
            display: flex;
            flex-flow: column;
            margin: 10% auto;

            .inner-img-wrap {
               display:  contents;
                img {
                    max-width: 100%;
                    max-height: 25vh;
                    border: 0;
                    object-fit: cover;
                }
            }

            .inner-text-wrap {
                p {
                    font-size: 15px;
                    width: 100%;
                    text-align: center;
                    font-family: 'Alliance';
                }
            }

        }




    }



}