ion-header {



    .barraSuperior {

        background-color: var(--ion-color-primary);
        // display: flex;
        // justify-content: center;
        // flex-flow: column;



        ion-row.row-barraSuperior {
						width: 100vw;
            display: flex;
            justify-content: center;
						align-items: center;
            padding-top: 5px;


            .col-btn-atras {
                max-width: 50px;

                // ion-back-button {
                //     height: 10px;
                //     margin-top: -5px;
                // }
            }

            ion-item {

                margin-bottom: 10px;
                width: 235px;

                .icono_input {
                    height: 22px;

                }
            }

            .col-btn-ajustes {
                max-width: 80px;

                #btnAjustes {
                    margin-top: -5px;
                }
            }
        }



    }
}

ion-content {


    .divMap {

        height: 100%;
        width: 100%;




        #map_canvas {
            width: 100%;
            height: 100%;



            .icono_input {
                position: absolute;
                height: 40px;
                top: 70%;
                left: 5%;
            }

            .add-q-btn {
                position: absolute;
                top: 5%;
                /* left: 30%; */
                width: 100vw;
                display: flex;
                justify-content: center;

                ion-button {
                    --border-radius: 20pt;
                    color: black;
                    text-transform: none;
                    font-family: Canela;
                    letter-spacing: normal;
                }
            }

            .icono_street {
                position: absolute;
                height: 40px;
                top: 70%;
                right: 5%;

            }



        }


    }



    .divBajo {
        background-color: var(--ion-color-primary);
        align-items: center;

        #barra {

            background-color: var(--ion-color-primary);
            height: 20px;
            width: 60px;
        }

        display: flex;
        flex-flow: column;
        justify-content: center;

        ion-item {
            display: flex;
            flex-flow: row;

            ion-row {

                ion-col.col-info {
                    #localizacion {
                        font-weight: 700;
                        color: black;
                    }

                    #informacion {
                        color: black;
                    }
                }

            }

            #direccion {
                margin-left: 40px;
                max-height: 40px;
            }
        }

        ion-item.item-btn {
            display: flex;
            justify-content: center;

            ion-button {
                //  margin-left: 90px;   
                width: 100%;
            }

        }

    }



}