<app-loading *ngIf="isLoading" text="Cargando..."></app-loading>

<ion-content *ngIf="!isLoading" color="primary">

  <div class="contenedor">
    <div class="titulo-pagina">
      <ion-row class="row-titulo-pagina">
        <!--Decorado 1-->
        <ion-col class="col-titulo-decorado1">
          <img id="cuadrante_puntos" src="assets/imgs/Group 125P.png" />
          <img style="position: absolute;top: 4.5vh;" src="assets/imgs/Group 114.png" (click)="back()" />

        </ion-col>

        <!--Titulo de la pestaña-->
        <ion-col class="col-titulo-pagina">
          <!-- <img style="width: 150vh;" src="assets/icons/LosCanales2.svg"> -->

          <div class="ion-text-wrap">
            <p id="titulo">{{"Contesta la pregunta" | translate}}</p>
          </div>
        </ion-col>

        <!--Decorado 2-->
        <ion-col class="col-titulo-decorado2">
          <img id="perfil_estrella1" src="assets/imgs/Star 2.png" />
          <img id="perfil_estrella2" src="assets/imgs/Star 3.png" />
          <img id="perfil_estrella3" src="assets/imgs/Star 4.png" />
        </ion-col>
      </ion-row>
    </div>
  </div>


  <ion-grid class="main-wrap">



    <ion-row class="text-row">
      <p>{{question.question}}</p>
    </ion-row>
    <ion-row class="img-row">
      <img src="{{question.archivo}}" alt="" srcset="" />
      <p>Pasó el {{question.date}}</p>
    </ion-row>
    <ion-row class="action-row">
      <ion-button (click)="displayTextArea()">{{"Contestar pregunta" | translate}}</ion-button>
    </ion-row>
  </ion-grid>

  <div id="setDisplay" class="answer-wrap">
    <ion-grid>
      <ion-row>
        <ion-col class="avatar-col" size="2">
          <img src="{{user.avatar}}" alt="" srcset="" />
        </ion-col>
        <ion-col class="answer-col" size="8">
          <ion-input
            class="class-input"
            postholder="Write a comment..."
            [(ngModel)]="comentario"
          ></ion-input>
        </ion-col>
        <ion-col class="send-col" size="2">
          <ion-icon
            (click)="answerQuestion()"
            src="../../../assets/icons/Group 825.svg"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
