<ion-content>
  <!-- doomed v3 header -->

  <!-- 
		typescript back()

		public back() {
    this.navCtrl.navigateForward("/tabs");
  	} 
	-->

  <img
    style="margin-top: 10%; margin-left: 5%; position: absolute; z-index: 5"
    id="btn_atras"
    src="assets/imgs/Group 114.png"
    (click)="back()"
  />
  <ion-row
    class="row-perfil-datos"
    style="margin-top: 1.5vh; padding-bottom: 20px"
  >
    <!--Decorado 1-->
    <ion-col class="col-perfil-decorado1">
      <img
        style="margin-top: 10%"
        id="ondas_imagen"
        src="assets/imgs/Group 125P.png"
      />
    </ion-col>

    <ion-col
      class="col-titulo-pagina"
      style="display: flex; align-items: center"
    >
      <p
        id="titulo"
        style="
          font-size: 25px;
          font-family: 'Canela';
          color: black;
          margin: 0 auto;
          text-align: center;
        "
      >
        <span style="font-style: italic">subir</span><br />Recuerdo
      </p>

      <!-- <ion-button (click)="out()" style="color: red
      ;">FUERA</ion-button> -->
    </ion-col>
    <!-- Decorado 3 -->
    <ion-col class="col-perfil-decorado3">
      <img
        style="margin-top: 10%; margin-left: 50%"
        id="perfil_estrella1"
        src="assets/imgs/estrellas_registro.svg"
      />
    </ion-col>
  </ion-row>

  <!-- doomed header v3 -->

  <div class="contenido">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <p
        style="
          color: black;
          text-align: left;
          font-family: Alliance;
          font-size: 13px;
          padding: 8px;
          position: relative;
        "
      >
        ¿Quién podrá ver esta publicación?
      </p>
      <!--<ion-item class="item-native" lines="none"> -->
      <ion-select (ionChange)="cambiarVerPublicacion($event)">
        <ion-select-option value="1">Amigos</ion-select-option>
        <ion-select-option value="2">Amigos de Amigos</ion-select-option>
        <ion-select-option value="3">Todos</ion-select-option>
      </ion-select>
  

      <p
        style="
          color: black;
          text-align: left;
          font-family: Alliance;
          font-size: 13px;
          padding: 8px;
        "
      >
        Tipo de archivo
      </p>

      <!-- <ion-button (click)="setFechaValueIfVoid()">DEBUG</ion-button> -->
      <!-- <ion-item class="item-native" lines="none"> -->
      <ion-select
        (ionChange)="cambiarTipoArchivo($event)"
        placeholder="Tipo de Archivo"
      >
        <ion-select-option value="1">Foto</ion-select-option>
        <ion-select-option value="2">Video</ion-select-option>
        <ion-select-option value="3">Audio</ion-select-option>
      </ion-select>
      <!-- </ion-item> -->

      <ion-row class="row-description" *ngIf="base64img">
        <div class="adjust-wrap" *ngIf="base64img" >
          <a (click)="removeImage()" style="color: #f3b562"
            >Eliminar Archivo</a
          >

          <a
            
            (click)="openCropImageModal()"
            style="color: #f36262"
            >Ajustar imagen</a
          >
        </div>

        <img
          class="upload-img"
          src="{{base64img}}"
          *ngIf="base64img&&SelectedFileType.isImage"
        />

        <div class="upload-img" *ngIf="base64img&&SelectedFileType.isVideo">
          <p>Video cargado correctamente</p>
        </div>

        <div class="upload-img" *ngIf="base64img&&SelectedFileType.isAudio">
          <p>Audio cargado correctamente</p>
        </div>
      </ion-row>

      <ion-row
        class="row-description"
        *ngIf="!base64img&&SelectedFileType.isImage"
      >
        <p
          style="
            color: black;
            text-align: left;
            font-family: 'Alliance';
            font-size: 13px;
            padding: 8px;
          "
        >
          Archivo
        </p>
        <ion-button
          style="--border-radius: 15px"
          expand="block"
          color="danger"
          (click)="adjuntarImagen()"
          ><p style="color: #000000; font-family: 'Canela'">
            Seleccione la imagen a subir
          </p>
        </ion-button>
      </ion-row>

      <ion-row
        class="row-description"
        *ngIf="!base64img&&SelectedFileType.isVideo"
      >
        <p
          style="
            color: black;
            text-align: left;
            font-family: 'Alliance';
            font-size: 13px;
            padding: 8px;
          "
        >
          Archivo
        </p>
        <ion-button
          style="--border-radius: 15px"
          expand="block"
          color="danger"
          (click)="getVideo()"
          ><p style="color: #000000; font-family: 'Canela'">
            Seleccione el video a subir
          </p>
        </ion-button>
      </ion-row>

      <ion-row
        class="row-description"
        *ngIf="!base64img&&SelectedFileType.isAudio"
      >
        <p
          style="
            color: black;
            text-align: left;
            font-family: 'Alliance';
            font-size: 13px;
            padding: 8px;
          "
        >
          Archivo
        </p>
        <ion-button
          style="--border-radius: 15px"
          expand="block"
          color="danger"
          (click)="GetMp3()"
          ><p style="color: #000000; font-family: 'Canela'">
            Seleccione el audio a subir (mp3,ogg,wav)
          </p>
        </ion-button>
      </ion-row>

      <p
        style="
          color: black;
          text-align: left;
          font-family: Alliance;
          font-size: 13px;
          padding: 8px;
        "
      >
        Titulo de la publicación
      </p>
      <!-- <ion-item class="item-native" lines="none"> -->
      <ion-input
        clearInput
        type="text"
        placeholder="Escribe aqui el titulo..."
        formControlName="titulo"
        required
      ></ion-input>
      <!-- </ion-item> -->
      <p
        style="
          color: black;
          text-align: left;
          font-family: Alliance;
          font-size: 13px;
          padding: 8px;
        "
      >
        Descripción de la publicación
      </p>
      <!-- <ion-item class="item-native" lines="none"> -->
      <ion-input
        clearInput
        type="text"
        placeholder="Escribe aqui la descripcion..."
        formControlName="descripcion"
        required
        [(ngModel)]="direccion"
      ></ion-input>
      <!-- </ion-item> -->

      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Alliance';
          font-size: 13px;
          padding: 8px;
        "
      >
        Canales
      </p>

      <div class="temas">
        <div
          id="temas-wrap-357"
          style="display: flex; justify-content: space-evenly; flex-flow: wrap"
        >
          <ion-button
            *ngFor="let tema of categories"
            style="--border-radius: 25px; --background: white"
            (click)="cambiarTema(tema.id,$event)"
            >{{tema.name}}
          </ion-button>
        </div>
      </div>

      <div class="fecha-wrap" *ngIf="!DontUsePreciseDate">
        <p
          style="
            color: black;
            text-align: left;
            font-family: 'Alliance';
            font-size: 13px;
            padding: 8px;
          "
        >
          Fecha
        </p>
        <!-- <ion-item class="item-native" lines="none"> -->

        <ion-datetime
          formControlName="fecha"
          pickerFormat="DD-MM-YYYY"
          displayFormat="DD-MM-YYYY"
          placeholder="¿Cuando pasó?"
        ></ion-datetime>
      </div>

      <div class="mapa-visible" style="width: 80%">
        <ion-checkbox
          #Datecheckbox
          id="DateIsVisible357"
          (ionChange)="HandleDateUsage($event)"
        ></ion-checkbox
        ><ion-label style="color: black; padding-left: 5px"
          >No recuerdo la fecha exacta</ion-label
        >
      </div>
      <!-- 
        <ion-input
          clearInput
          type="text"
          placeholder="Agosto,1956"
          formControlName="fecha"
          required
        ></ion-input> -->
      <!-- </ion-item> -->
      <!-- <ion-item class="item-native" lines="none" style="margin-top: 3vh"> -->

      <p
        style="
          color: black;
          text-align: left;
          font-family: 'Alliance';
          font-size: 13px;
          padding: 8px;
        "
      >
        Década
      </p>

      <ion-select
        show-backdrop="false"
        type="ios"
        style="min-width: 240px"
        placeholder="Década"
        (ionChange)="cambiarDecada($event)"
      >
        <ion-select-option *ngFor="let decada of decadas" [value]="decada.value"
          ><p>{{decada.nombre}}</p></ion-select-option
        >
      </ion-select>

      <div class="mapa-visible">
        <ion-checkbox
          #Mapcheckbox
          id="MapIsVisible357"
          (ionChange)="HandleMapVisibility($event)"
        ></ion-checkbox
        ><ion-label style="color: black; padding-left: 5px"
          >Esta publicacion aparece en el mapa</ion-label
        >
      </div>

      <ion-row
        *ngIf="MapIsVisible"
        id="map-row-vis"
        style="margin: 5vw auto"
        class="map-row"
      >
        <ion-row>
          <ion-label class="inputlabel">Ubicacion</ion-label>
        </ion-row>
        <ion-row>
          <ion-input
            type="text"
            [(ngModel)]="search"
            [ngModelOptions]="{standalone: true}"
            id="position-input-357"
            placeholder="Escriba aqui la ubicacion"
            (ionChange)="actualizar()"
            debounce="500"
          ></ion-input>
        </ion-row>
        <ion-row>
          <div class="autocompleteItems">
            <ion-list
              class="List"
              lines="none"
              class="autocomplete"
              *ngIf="autocomplete && autocompleteItems.length != 0"
            >
              <div *ngFor="let item of autocompleteItems, let i = index">
                <ion-item
                  *ngIf="!(i == autocompleteItems.length-1)"
                  class="item-mapa border"
                  style="border-bottom: 1px solid rgba(#000000, 0.15)"
                  tappable
                  (click)="selectSearchResult(item.description)"
                >
                  <p>{{ item.description }}</p>
                </ion-item>
                <ion-item
                  *ngIf="i == autocompleteItems.length-1"
                  class="item-mapa noborder"
                  style="border-bottom: none"
                  tappable
                  (click)="selectSearchResult(item.description)"
                >
                  <p>{{ item.description }}</p>
                </ion-item>
              </div>
            </ion-list>
          </div>
        </ion-row>

        <div class="mapi">
          <div id="map_canvas"></div>
        </div>
      </ion-row>

      <!-- </ion-item> -->

      <ion-button
        style="--border-radius: 15px; font-family: 'Canela'; margin: 5vh auto"
        expand="block"
        color="warning"
        type="submit"
      >
        Subir recuerdo
      </ion-button>
      <!-- <ion-button 
        style="--border-radius: 15px; font-family: 'Canela'; margin: 5vh auto"
        expand="block"
        color="warning"
        (click)="debugForm()"
      >
        Valores del formulario
      </ion-button> -->
    </form>
  </div>
</ion-content>
