ion-content {



    .nofriends {

        width: 90%;
        margin: 5% auto;
        margin-top: 5%;
        color: black;
        margin-top: 20vh;
    }

    .contenedor {
        width: 100%;
        display: flex;
        justify-content: center;

        .titulo-pagina {
            display: flex;
            margin-top: 2.5vh;
            width: 100vw;

            ion-row.row-titulo-pagina {
                display: flex;
                justify-content: space-between;
                width: 100%;
                flex-flow: row;

                //columna 1
                ion-col.col-titulo-decorado1 {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    max-width: 83px;

                    #cuadrante_puntos {
                        padding-left: 0;
                        margin-top: 15px;
                        height: 60px;
                        margin-left: -20px;
                    }

                }

                //Columna 2
                ion-col.col-titulo-pagina {
                    display: flex;
                    flex-flow: row nowrap;
                    max-width: 190px;
                    min-width: 120px;
                    align-items: center;
                    justify-content: space-between;

                    #titulo {
                        color: black;
                        font-size: 30px;
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                        font-family: "Canela";
                        // margin-top: -5px;
                    }
                }

                ion-col.col-titulo-decorado2 {
                    position: relative;
                    max-width: 83px;

                    #perfil_estrella1 {
                        position: absolute;
                        top: 25px;
                        right: 48px;
                    }

                    #perfil_estrella2 {
                        position: absolute;
                        top: 48px;
                        right: 30px;
                    }

                    #perfil_estrella3 {
                        position: absolute;
                        top: 18px;
                        right: 20px;
                    }

                }

            }

        }
    }


    ion-list {
        width: 90%;
        margin: 5% auto;
        background: transparent;

        ion-item {
            --background: #fff0;
            margin: 5% auto;
        }

        app-select-user {
            width: 100%;
        }
    }



    .btn-wrap {
        
        ion-button {
            width: 80%;
            margin: 5% auto;
            --background: #F3B562;
            --color: rgb(223, 223, 223);
        }

        ion-button.cancel{
            --background: #333;
            --color: #fff;
        }
    }


}