ion-content{
    .pago{
        margin-top: 4vh;
        width: 85vw;
        height: 7vh;
        --border-radius: 15px;
        --background: #F3B562;
        text-transform: none;
        color: black;
        // --box-shadow:2px 4px 15px 1px #4AA8D171;
        margin-bottom: 2vh;
        font-weight: bold;
    }
}