<app-loading *ngIf="isLoading" text="Cargando..."></app-loading>

<ion-content *ngIf="!isLoading">
  <div class="contenedor">
    <div class="titulo-pagina">
      <ion-row class="row-titulo-pagina">
        <!--Decorado 1-->
        <ion-col class="col-titulo-decorado1">
          <img id="cuadrante_puntos" src="assets/imgs/Group 125P.png" />
          <img
            class="btn-atras"
            src="assets/imgs/Group 114.png"
            (click)="Back()"
          />
        </ion-col>

        <!--Titulo de la pestaña-->
        <ion-col class="col-titulo-pagina">
          <!-- <img style="width: 150vh;" src="assets/icons/LosCanales2.svg"> -->

          <div class="ion-text-wrap">
            <h1 id="titulo">Geoask</h1>
            <h2 id="subtitulo">Editar pregunta en el mapa</h2>
          </div>
        </ion-col>

        <!--Decorado 2-->
        <ion-col class="col-titulo-decorado2">
          <img id="perfil_estrella1" src="assets/imgs/Star 2.png" />
          <img id="perfil_estrella2" src="assets/imgs/Star 3.png" />
          <img id="perfil_estrella3" src="assets/imgs/Star 4.png" />
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="form-wrap">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-grid class="wrap-grid">
        <ion-row class="row-title">
          <ion-row class="inner-row-label">
            <ion-label> Haz tu pregunta </ion-label>
          </ion-row>
          <ion-row class="inner-row-input">
            <!--  -->
            <ion-input
              placeholder="Escribe aqui tu pregunta"
              formControlName="question"
            ></ion-input>
          </ion-row>
        </ion-row>

        <ion-row class="row-description">
          <ion-row class="inner-row-label">
            <ion-label>Sube un archivo </ion-label>
          </ion-row>
          <ion-row class="inner-row-input">
            <ion-button
              style="
                --border-radius: 15px;
                font-family: 'Alliance';
                color: rgba(0, 0, 0, 0.507);
              "
              expand="block"
              id="subidaBTN"
              color="danger"
              (click)="adjuntarImagen()"
              ><div class="inner-custom">
                Seleccione el archivo a subir
                <ion-icon name="filing"></ion-icon></div
            ></ion-button>

            <div class="preview-wrap" *ngIf="base64img">
              <div class="btn-wrap">
                <ion-button class="delete-btn" (click)="deleteImage()">Eliminar imagen</ion-button>
                <ion-button class="adjust-btn" (click)="openCropImageModal()">Ajustar imagen</ion-button>
              </div>
              <div class="img-wrap">
                <img src="{{base64img}}" alt="" srcset="" />
              </div>
            </div>
            <!-- <ion-button
              *ngIf="!ThereIsMap"
              id="SwitchBtn1"
              style="
                --border-radius: 15px;
                font-family: 'Alliance';
                color: rgba(0, 0, 0, 0.507);
              "
              expand="block"
              color="danger"
              (click)="MapSwitch(1)"
              ><div class="inner-custom">
                Cambiar la ubicacion
                <ion-icon name="sync"></ion-icon></div
            ></ion-button>
            <ion-button
              *ngIf="ThereIsMap"
              style="
                --border-radius: 15px;
                font-family: 'Alliance';
                color: rgba(0, 0, 0, 0.507);
              "
              expand="block"
              id="SwitchBtn2"
              color="danger"
              (click)="MapSwitch(2)"
              ><div class="inner-custom">
                Cambiar el archivo a subir
                <ion-icon name="filing"></ion-icon>
              </div>
            </ion-button> -->
          </ion-row>
        </ion-row>
        <ion-row class="row-category">
          <ion-row> <ion-label> Temas </ion-label></ion-row>
          <ion-row id="category-wrap" class="chip-row">
            <div class="chip-wrap" *ngFor="let c of categories">
              <ion-chip (click)="SetCategoryValue($event)" id="{{c.id}}"
                >{{c.name}}</ion-chip
              >
            </div>
          </ion-row>
        </ion-row>
        <ion-row class="row-type">
          <ion-row>
            <ion-label> ¿Te acuerdas de cuándo ocurrió? </ion-label></ion-row
          >
          <ion-row id="privacy-wrap">
            <ion-col>
              <!-- 

               -->
              <ion-datetime
                formControlName="date"
                pickerFormat="DD-MM-YYYY"
                displayFormat="DD-MM-YYYY"
                placeholder="Día"
              ></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-select
                type="ios"
                placeholder="Década"
                (ionChange)="cambiarDecada($event)"
              >
                <ion-select-option
                  *ngFor="let decada of decadas"
                  [value]="decada.value"
                  >{{decada.nombre}}</ion-select-option
                >
              </ion-select>
            </ion-col>

            <!-- <ion-col> <ion-chip (click)="SetPrivacy($event)" id="1">Privado</ion-chip></ion-col>
            <ion-col> <ion-chip (click)="SetPrivacy($event)" id="0">Público</ion-chip></ion-col> -->
          </ion-row>

          <ion-row id="map-row-vis" style="display: none" class="map-row">
            <ion-row>
              <ion-label>Ubicación</ion-label>
            </ion-row>
            <ion-row>
              <ion-input
                type="text"
                [(ngModel)]="search"
                [ngModelOptions]="{standalone: true}"
                placeholder="Escriba aqui la ubicacion"
                (ionChange)="actualizar()"
                debounce="500"
              ></ion-input>
            </ion-row>
            <ion-row class="auto-row">
              <div class="autocompleteItems">
                <ion-list
                  class="List"
                  lines="none"
                  class="autocomplete"
                  *ngIf="autocomplete && autocompleteItems.length != 0"
                >
                  <div *ngFor="let item of autocompleteItems, let i = index">
                    <ion-item
                      *ngIf="!(i == autocompleteItems.length-1)"
                      class="item-mapa border"
                      style="border-bottom: 1px solid rgba(#000000, 0.15)"
                      tappable
                      (click)="selectSearchResult(item.description)"
                    >
                      <p>{{ item.description }}</p>
                    </ion-item>
                    <ion-item
                      *ngIf="i == autocompleteItems.length-1"
                      class="item-mapa noborder"
                      style="border-bottom: none"
                      tappable
                      (click)="selectSearchResult(item.description)"
                    >
                      <p>{{ item.description }}</p>
                    </ion-item>
                  </div>
                </ion-list>
              </div>
            </ion-row>

            <div id="map-div" class="map-wrap"></div>
          </ion-row>
          <!-- <ion-row>La fecha no es correcta, por favor, corrigela </ion-row> -->

          <ion-row class="visibility-row" style="flex-flow: column">
            <ion-row
              ><ion-label> ¿Quién podrá ver esta pregunta? </ion-label></ion-row
            >
            <ion-row
              class="visibility-row-inner"
              id="visibility-row"
              style="flex-flow: row; margin-top: 5%"
            >
              <ion-col>
                <ion-chip (click)="SetVisibilityValue($event)" id="0"
                  >Grupos</ion-chip
                ></ion-col
              >
              <ion-col>
                <ion-chip (click)="SetVisibilityValue($event)" id="1"
                  >Usuarios</ion-chip
                ></ion-col
              >
            </ion-row>
          </ion-row>
          <ion-row class="row-btn" style="flex-flow: column">
            <ion-col>
              <ion-button
                class="btn-create"
                (click)="submitQuestion()"
                [disabled]="!form.valid"
                >Guardar cambios</ion-button
              >
            </ion-col>
            <ion-col
              ><ion-button class="btn-delete" (click)="deleteQuestion()"
                >Eliminar pregunta</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-grid>
    </form>
    <!-- <ion-button (click)="CreateChanel()" color="dark"></ion-button> -->
  </div>
</ion-content>
