ion-content {
    ion-button {
        --box-shadow: none !important;
    }


    .preview-wrap {
        margin: 10% auto;
        .btn-wrap {
            display: flex;
            justify-content: space-around;
            margin: 10% auto;
            .delete-btn {
                --background:red;
            }

            .adjust-btn {
                --background:#F3B562;
                color: #333;

            }
        }

        .img-wrap {}

    }


    .btn-atras {
        position: absolute;
        margin-left: 10%;
        margin-top: 0px;
        width: 4.5vh;

    }

    // --background: #fff56514;

    .visibility-row {
        display: flex;
        flex-flow: column;
        font-family: "Alliance";
        font-size: 13px;

        .visibility-row-inner {
            display: flex;
            flex-flow: row;
            font-family: "Alliance";
            font-size: 13px;

            ion-col {

                ion-chip {
                    // min-width: 80%;
                    min-height: 80%;
                    display: flex;
                    border-radius: 20pt;
                    justify-content: center;
                    background: #F1EAE0;
                    color: #AC927C;
                    font-family: "Alliance";
                    font-size: 13px;
                }

            }
        }
    }

    .inner-custom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contenedor {
        width: 100%;
        display: flex;
        justify-content: center;

        .titulo-pagina {
            display: flex;
            margin-top: 2.5vh;
            width: 100vw;
            margin-right: 17px;

            ion-row.row-titulo-pagina {
                display: flex;
                justify-content: space-between;
                width: 100%;
                flex-flow: row;

                //columna 1
                ion-col.col-titulo-decorado1 {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    max-width: 70px;

                    #cuadrante_puntos {
                        padding-left: 0;
                        margin-top: 15px;
                        height: 60%;
                        margin-left: -20px;
                        position: relative;
                        top: 20px;
                        margin-right: 5px;

                    }

                }

                //Columna 2
                ion-col.col-titulo-pagina {
                    display: flex;
                    flex-flow: row nowrap;
                    max-width: 190px;
                    min-width: 120px;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    top: 10px;

                    #titulo {
                        color: black;
                        font-size: 18px;
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                        font-family: "Canela";
                        margin: 0;
                        justify-content: center;
                        margin-left: 40px;

                    }

                    #subtitulo {
                        color: black;
                        font-size: 18px;
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: center;
                        font-family: "Canela";
                        margin: 0;
                        padding-top: 15px;
                        width: 137%;
                    }
                }

                ion-col.col-titulo-decorado2 {
                    position: relative;
                    max-width: 83px;
                    margin-right: 20px;
                    right: -30px;

                    #perfil_estrella1 {
                        position: absolute;
                        top: 25px;
                        right: 48px;
                    }

                    #perfil_estrella2 {
                        position: absolute;
                        top: 48px;
                        right: 30px;
                    }

                    #perfil_estrella3 {
                        position: absolute;
                        top: 18px;
                        right: 20px;
                    }

                }

            }

        }
    }

    ion-button {
        font-family: "Alliance";
        font-size: 13px;
        letter-spacing: 0.1px;
    }

    ion-chip {
        font-family: "Alliance";
        font-size: 13px;
        letter-spacing: 0.1px;

    }

    ion-chip.custom {
        // min-width: 80%;
        min-height: 80%;
        display: flex;
        border-radius: 20pt;
        justify-content: center;
        background: #F3B562 !important;
        color: #ffffff !important;
    }

    ion-input {
        padding: 10px !important;
    }

    .form-wrap {

        // border: 1px solid black;
        width: 80vw;
        margin: 5% auto;

        .wrap-grid {

            ion-input {
                color: black;
                --placeholder-color: #B29782;
                --background: #F1EAE0;
                border-radius: 10pt;

            }

            ion-label {
                color: black;
                font-family: "Alliance";
                font-size: 13px;
                margin-left: 5%;
            }

            ion-row {
                margin-bottom: 5%;
                display: flex;
                flex-flow: column;
            }

            .row-title {}

            .row-description {}

            .row-category {


                .chip-wrap {
                    min-width: 30%;
                    max-width: 30%;
                    min-height: 5.5vh;
                    margin-bottom: 1vh;
                }

                .chip-row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    ion-chip {
                        min-width: 100%;
                        min-height: 100%;
                        border-radius: 20pt;
                        display: flex;
                        justify-content: center;
                        background: #F1EAE0;
                        color: #AC927C;
                    }
                }




            }

            .map-row {
                display: flex;
                flex-flow: column;
                min-height: 30vh;



            }

            .row-type {
                .map-row {
                    display: flex;
                    flex-flow: column;


                    .map-wrap {
                        min-width: 90%;
                        min-height: 110px;
                        height: 40vh;



                        #map-div {}
                    }

                }


                ion-row {
                    display: flex;
                    flex-flow: row;
                }


                ion-input {
                    color: black;
                    --placeholder-color: #B29782;
                    --background: #F1EAE0;
                    border-radius: 10pt;

                }

                ion-col {
                    // display: flex;
                    // justify-content: center;
                    min-height: 7.5vh;

                    ion-datetime {
                        color: black;
                        --placeholder-color: #B29782;
                        background: #F1EAE0;
                        border-radius: 10pt;

                    }

                    ion-select {
                        color: black;
                        --placeholder-color: #B29782;
                        background: #F1EAE0;
                        border-radius: 10pt;


                    }

                    ion-chip {
                        // min-width: 80%;
                        min-height: 80%;
                        display: flex;
                        border-radius: 20pt;
                        justify-content: center;
                        background: #F1EAE0;
                        color: #AC927C;
                    }


                }
            }





            .row-btn {
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;


                .btn-create {
                    --background: #F3B562;
                    width: 100%;
                    --border-radius: 10pt;
                    margin: 0 auto;

                    font-family: Canela;
                    color: black !important;
                }

                .btn-delete {
                    --background: #B22A2A;
                    width: 100%;
                    --border-radius: 10pt;
                    margin: 0 auto;

                    font-family: Canela;

                    //color: #d33939;
                    ion-button.button-native {
                        //color: #d33939;   
                    }
                }
            }





        }

    }

    .autocompleteItems {
        width: 100%;
        background: antiquewhite;
        border-radius: 10pt;

        ion-list {

            padding: 0;

            ion-item.border {
                margin: 5% auto;
                /* box-shadow: 0px 0px 41px 0px #000000; */
                /* border-radius: 10pt; */
                border-bottom: 1px solid rgba(#000000, 0.15);
            }

            ion-item.noborder {
                margin: 5% auto;
                /* box-shadow: 0px 0px 41px 0px #000000; */
                /* border-radius: 10pt; */
            }

        }

    }

}